<title>Tropical Storm Danny August 28 2009</title>
<h2><strong>Ops-O - Tropical Storm Danny - August 28, 2009 - </strong></h2>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="50%" align="left" valign="top"><ul class="AnchorList">
      <li><a href="#Situation Updates">Situation Updates</a></li>
      <li><a href="#one">Status Log </a></li>
      <li><a href="#two">Situation Reports </a></li>
      </ul></td>
    <td width="50%" align="left" valign="top"><ul class="AnchorList">
      <li><a href="#three">Storm Track</a></li>
      <li><a href="#four">Contact Lists</a></li>
      </ul></td>
  </tr>
</table>
<table border="0" width="100%" class="SectionHeader">
  <tbody>
    <tr>
      <td width="94%"><strong><a name="Situation Updates" id="Situation Updates"></a>Situation Updates</strong></td>           
	  <td width="6%" align="right"><a href="#top">top&nbsp;&raquo;</a></td>
</tr>
  </tbody>
</table>
<ul>
  <li><a href="http://www.halifax.ca/EMOSecureApp/Categories/53/documents/TropicalStormDannyUpdateSat-01.pdf" target="_blank"><strong>Tropical Storm Danny - Update 2 </strong> </a>- 39 KB [PDF]<br>
  <a href="http://www.halifax.ca/EMOSecureApp/Categories/53/images/track090829-1500.jpg" target="_blank"><strong>Tropical Storm Danny - Updated Image </strong> </a>- 179 KB [JPG]  </li>
  <li><a href="/emo_secure/Documents/EMONSSit-Rep090828-1500.pdf" target="_blank"><strong>Tropical Storm Danny</strong></a> - 25.4 KB [PDF]</li>
  <li><a href="Documents/TropicalStormDannyUpdateSat-01.pdf" target="_blank"><strong>Tropical Storm Danny - Update 1</strong></a> - 39 KB [PDF]<br />
  </li>
</ul>
<table border="0" width="100%" class="SectionHeader">
  <tbody>
    <tr>
      <td width="94%"><strong><a name="one" id="one"></a>Status Log</strong></td>           
	  <td width="6%" align="right"><a href="#top">top&nbsp;&raquo;</a></td>
</tr>
  </tbody>
</table>
<ul>
  <li>No Current Events - 00:00 (pdf)<br />
</li>
</ul>
<table border="0" width="100%" class="SectionHeader">
  <tbody>
    <tr>
      <td width="94%"><strong><a name="two" id="two"></a>Situation Reports</strong></td>           
      <td width="6%" align="right"><a href="#top">top&nbsp;&raquo;</a></td>
</tr>
  </tbody>
</table>
<ul>
  <li>No Current Events - 00:00 (pdf) <br />
      
</li>
  
</ul>
<table border="0" width="100%" class="SectionHeader">
  <tbody>
    <tr>
      <td width="94%"><strong><a name="three" id="two2"></a>Storm Track </strong></td>           
      <td width="6%" align="right"><a href="#top">top&nbsp;&raquo;</a></td>
</tr>
  </tbody>
</table>
<ul>
  <li><a href="http://www.weatheroffice.gc.ca/city/pages/ns-19_metric_e.html" target="_blank">Environment Canada Website</a> </li>
  <li><a href="http://ve1hre.ca/wx-hrm-eoc/current-0.php?page=2" target="_blank">Weather at the Eric Spicer Building </a></li>
  <li><a href="http://www.ec.gc.ca/ouragans-hurricanes/default.asp?lang=En&n=DA74FE64-1">Canadian Hurricane Centre</a></li>
  <li><a href="http://www.weatheroffice.gc.ca/hurricane/track_e.html">Canadian Hurricane Current Conditions</a></li>
</ul>
<table border="0" width="100%" class="SectionHeader">
  <tbody>
    <tr>
      <td width="94%"><strong><a name="four" id="one2"></a>Contact Lists</strong></td>           
      <td width="6%" align="right"><a href="#top">top&nbsp;&raquo;</a></td>
</tr>
  </tbody>
</table>
<p style="margin-bottom: 0;"></p>
