
<p><strong><? echo trim($_SESSION['EMOUser']['FirstName']); ?></strong>, you do not have permission to view this section. Please contact EMOSecure@halifax.ca if you have questions about your level of access.</p>
