
/*=================================================
  Created by Gian Pompilio (pompilg@halifax.ca)
  EMO Secure App styles declared below
=================================================*/

* {
	margin:0px;
	padding:0px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	color:#505050;

} body {
	padding:10px;
	padding-top:15px;
	width:463px;
	margin:auto;

} a,
  a:link,
  a:visited {	
	text-decoration:none;
	color:#369;

} a:active,
  a:hover {
	color:#c00;


} a img {
	border:0px;

} h1, h2, h3 {
	font-size:17px;
	color:#258;
	margin-bottom:0.6em;
	letter-spacing:-1px;

} h1 {
	margin-top:5px;
	margin-bottom:5px;

} h2, h2 a {
	font-size:17px;
	padding-bottom:6px;
	padding-left:3px;
	margin-bottom:7px;
	border-bottom:1px solid #e0e0e0;

} h3 {
	font-size:17px;
	padding-bottom:5px;
	margin-bottom:7px;
	border-bottom:2px solid #ddd;

} p {
	margin-top:0px;
	line-height:1.5em;

} ul {
	list-style-type:none;


} form {

} form input {
	padding:3px;
	border:1px solid #e0e0e0;
	width:160px;

} input.Categories {	
	width:200px !important;

} input.CheckBox {	
	width:20px !important;

} input.Button {
	padding:3px;
	background:#69c;
	border:1px solid #69c;
	color:#fff;
	width:65px !important;
	margin-right:8px;
	
} input.Button:hover {
	padding:3px;
	background:#258;
	border:1px solid #258;
	color:white;
	


/*
===========================
  Main Structural Blocks
===========================
*/

} #Login {
	width:320px;
	margin:auto;
	
} #Menu {
	float:left;
	width:110px;
	
} #Menu div {
	padding:5px !important;

} #Content {
	margin-left:130px;
	width:320px;


/*
==================
  Block Styles
==================
*/	
	
	
} .GStyle {
	border:1px solid #e0e0e0;
	background:white;
	padding:5px;

} .GStyle div {
	border-bottom:1px solid #e0e0e0;
	background:#f0f0f0;
	padding:25px;
	
} .LessPadding div {
	padding:10px !important;



/*
========================
  Menu
========================
*/


} #Menu ul li a,
  #Menu ul li a:link,
  #Menu ul li a:visited {
	text-decoration:none;
	padding:3px 8px;
	display:block;
	border-top:1px solid #F0F0F0;
	border-bottom:1px solid #F0F0F0;
	
} #Menu ul li a:active,
  #Menu ul li a:hover {
	color:#258;
	background:#F8F4CD;
	border-top:1px solid #DDCC77;
	border-bottom:1px solid #DDCC77;

/*
========================
  Copyright / Footer
======================== 
*/

} #Copyright {	
	background:white;
	padding:5px;
	padding-top:9px;
	padding-bottom:0px;
	border:none;
	height:36px;

} #Copyright img {
	float:right;

} #Copyright p {
	font-size:9px;
	padding-top:12px;
	padding-left:5px;
	color:#aaa;



	
/*
===========================
  User form (add/modify)
===========================
*/

} .Description {
	padding-bottom:10px;

} .Label {
	width:70px;
	font-weight:bold;


	

} .User td {
	padding:3px;
	
} .User td input {
	width:100px;

} .User td input.FirstName {
	width:71px;
	
} .User td input.LastName {
	width:121px;	
	 	
} .User td input.Email {
	width:205px;




} .UserListing {
	width:100%;

} .UserListing td {
	padding:5px 5px 2px 5px;
	width:100%;

} .UserListing td.User {
	border-bottom:1px solid #ddd;

} .UserListing td.UserActive {
	background:#F8F4CD;
	border-bottom:1px solid #DDCC77;


} .UserListing td.User:hover,
  .UserListing td.UserActive:hover {
	background:#F8F4CD;
	border-bottom:1px solid #DDCC77;




} .Categories {
	width:100%;

} .Categories td {
	padding:4px 5px;




} .DocLinks {
	width:100%;
	margin-top:8px;
	margin-bottom:12px;
	background:#F8F4CD;
	border-top:1px solid #DDCC77;
	border-bottom:1px solid #DDCC77;

} .DocLinks td {
	width:50%;
	padding:4px;
	padding-bottom:2px;
	
} .DocLinks ul {
	margin-left:15px;
	list-style-type:circle;

} .DocLinks ul li {
	padding-bottom:3px;
	color:#DDCC77;



} .DocumentListings {
	width:100%;
	padding-bottom:10px;

} .DocumentListings tr td {
	padding:4px;
	padding-top:7px;

} .DocumentListings tr td  ul {
	margin-left:15px;
	list-style-type:decimal;
	
} .DocumentListings tr td  ul li {
	padding-bottom:3px;
	margin-left:10px;
	
} .DocumentListings tr.Title td {
	font-weight:bold;
	border-bottom:1px solid #d9d9d9;
	background:#e9e9e9;
	padding-top:5px;
	padding-left:6px;




} .ClearFloats {
	clear:both;
	border:0px;
	padding:0px;
	margin:0px;
	border:0px;

} .MenuDivider {
	border-bottom:2px solid #ddd;
	padding-bottom:6px !important;

} hr.MenuDivider {
	height:1px;
	padding:0px !important;
	color:#e0e0e0;
	margin-top:5px;
	margin-bottom:5px;

} .ErrorMsg,
  .ErrorMsg strong {
	color:#c00;
	border:1px solid #e99;
	padding:5px 10px;
	background:#fee;

} .TestData {
	display:none;




}