<title>100903-StaffMemo-1</title>
<h2><strong>10/09/03 - Staff Memo</strong></h2>
<p><strong>11:39 am</strong></p>
<table width="477" border="0">
  <tr valign="top">
    <td width="429">As Hurricane Earl approaches our waters, we are continuing preparations. At present, it is expected to go up the Bay of Fundy or make landfall in Digby County as a Category 1 storm. This will mean that the brunt of the storm will not be felt by HRM. However, there will be a quick hit of heavy rain ahead of the storm. This is expected to be a wind event for the municipality. Storm surge is not expected to be an issue for this storm as we are in a period of neap tides which are traditionally lower than normal. One thing to remember is that this is a very large storm and not the single line that often shows up on weather maps. It&rsquo;s effects will be felt hundreds of kilometres from its centre.<br>
      <br>
      The Emergency Operations Center (EOC) will be activated at 0700 on Saturday morning to coordinate HRM services and to identify any issues requiring a coordinated response. Council will be regularly updated in accordance with our Planning Cycles. Cathie Barrington will work with Corporate Communications to ensure Council is up to date. Information will be uploaded to halifax.ca and sent to the corporate call center. Directors will have access to the EMO Secure Web page. By now you should have received an E-mail from Web Services with your log-in information. If you have issues with connecting to the site, please contact Beth Udby today. <br>
      <br>
      It is an interesting point that this is the first test run of our newly renovated EOC. So far in our EOC preparation phase, it is showing to work well.<br>
      <br>
      <br>
    Barry</td>
  </tr>
</table>
<p><strong></strong></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</p>
								<p>&nbsp;
								
								</p>
