<title>Three Panel Respirator</title>
<h2><strong>Infectious Disease</strong></h2>
<p>&nbsp;</p>
<p><strong>Three Panel Respirator </strong></p>
<p><p align="left" id='video'>The player will show in this paragraph</p>

							<div align="Left">
								<script type='text/javascript' src='/js/swfobject.js'></script>
								<script type='text/javascript'>
	var s1 = new SWFObject('/js/jwplayer.swf','video name','400','300','9');
	s1.addParam('allowfullscreen','true');
	s1.addParam('allowscriptaccess','always');
	s1.addParam('flashvars','file=/EMOSecureApp/Flash/ThreePanel.flv');
	s1.write('video');
							</script>
								
</div></p>
								<p>&nbsp;
								
								</p>
