<title>100905SitReport7</title>
<table cellspacing="0" cellpadding="0">
  <tr>
    <td colspan="6" valign="top"><p align="center"><strong>Situation Report</strong> </p></td>
    <td width="172" valign="top"><p align="right"><strong>E-007</strong> </p></td>
  </tr>
  <tr>
    <td colspan="2" valign="top"><p><strong>Sit-Rep Date:</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
    <td colspan="2" valign="top"><p>Sept 5, 2010 </p></td>
    <td colspan="2" valign="top"><p><strong>Time Started:</strong> </p></td>
    <td width="172" valign="top"><p>10:00 hrs </p></td>
  </tr>
  <tr>
    <td colspan="2" valign="top"><p><strong>Next Sit-Rep:</strong> </p></td>
    <td colspan="2" valign="top"><p>Event closed </p></td>
    <td colspan="2" valign="top"><p><strong>Time Ended:</strong> </p></td>
    <td width="172" valign="top"><p>10:29 hrs </p></td>
  </tr>
  <tr>
    <td colspan="2" valign="top"><p><strong>Ops Officer:</strong> </p></td>
    <td colspan="5" valign="top"><p>Barry Manuel </p></td>
  </tr>
  <tr>
    <td colspan="2" valign="top"><p><strong>Scribe:</strong> </p></td>
    <td colspan="5" valign="top"><p>Zita Chouinard </p></td>
  </tr>
  <tr>
    <td colspan="7" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
  </tr>
  <tr>
    <td colspan="7" valign="top"><p><strong>Attending:</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p>
        <p>(Agency/Name)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
  </tr>
  <tr>
    <td width="157" valign="top"><p align="center">01 </p></td>
    <td colspan="2" valign="top"><p>John Parkin, HRP-EMO </p></td>
    <td colspan="2" valign="top"><p align="center">02 </p></td>
    <td colspan="2" valign="top"><p>John Aguinaga, NSPi </p></td>
  </tr>
  <tr>
    <td width="157" valign="top"><p align="center">03 </p></td>
    <td colspan="2" valign="top"><p>Beth Udby, Web Services </p></td>
    <td colspan="2" valign="top"><p align="center">04 </p></td>
    <td colspan="2" valign="top"><p>David Marr. EMO </p></td>
  </tr>
  <tr>
    <td width="157" valign="top"><p align="center">05 </p></td>
    <td colspan="2" valign="top"><p>Shelly Emmerson, EMO NS </p></td>
    <td colspan="2" valign="top"><p align="center">06 </p></td>
    <td colspan="2" valign="top"><p>Peter Kelly, Mayor </p></td>
  </tr>
  <tr>
    <td width="157" valign="top"><p align="center">07 </p></td>
    <td colspan="2" valign="top"><p>Susheel Arora, Halifax Water </p></td>
    <td colspan="2" valign="top"><p align="center">08 </p></td>
    <td colspan="2" valign="top"><p>Jennifer Church, Corp Communications </p></td>
  </tr>
  <tr>
    <td width="157" valign="top"><p align="center">09 </p></td>
    <td colspan="2" valign="top"><p>Barb Beaver, BPIM </p></td>
    <td colspan="2" valign="top"><p align="center">10 </p></td>
    <td colspan="2" valign="top"><p>Rob Bennett, NSPi </p></td>
  </tr>
  <tr>
    <td width="157" valign="top"><p align="center">11 </p></td>
    <td colspan="2" valign="top"><p>John Rowan, DCS/ESS </p></td>
    <td colspan="2" valign="top"><p align="center">12 </p></td>
    <td colspan="2" valign="top"><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="157" valign="top"><p align="center">13 </p></td>
    <td colspan="2" valign="top"><p>&nbsp;</p></td>
    <td colspan="2" valign="top"><p align="center">14 </p></td>
    <td colspan="2" valign="top"><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="157" valign="top"><p align="center">15 </p></td>
    <td colspan="2" valign="top"><p>&nbsp;</p></td>
    <td colspan="2" valign="top"><p align="center">16 </p></td>
    <td colspan="2" valign="top"><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="157" valign="top"><p align="center">17 </p></td>
    <td colspan="2" valign="top"><p>&nbsp;</p></td>
    <td colspan="2" valign="top"><p align="center">18 </p></td>
    <td colspan="2" valign="top"><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="157" valign="top"><p align="center">19 </p></td>
    <td colspan="2" valign="top"><p>&nbsp;</p></td>
    <td colspan="2" valign="top"><p align="center">20 </p></td>
    <td colspan="2" valign="top"><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="157" valign="top"><p align="center">21 </p></td>
    <td colspan="2" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
    <td colspan="2" valign="top"><p align="center">22 </p></td>
    <td colspan="2" valign="top"><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="157" valign="top"><p align="center">23 </p></td>
    <td colspan="2" valign="top"><p>&nbsp;</p></td>
    <td colspan="2" valign="top"><p align="center">24 </p></td>
    <td colspan="2" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
  </tr>
  <tr>
    <td colspan="7" valign="top"><p><strong>Attending Via Teleconference:</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p>
        <p>(Agency/Name) </p></td>
  </tr>
  <tr>
    <td width="157" valign="top"><p align="center">01 </p></td>
    <td colspan="2" valign="top"><p>Wayne Anstey, CAO </p></td>
    <td colspan="2" valign="top"><p align="center">02 </p></td>
    <td colspan="2" valign="top"><p>Doug Hubley, TA JEM </p></td>
  </tr>
  <tr>
    <td width="157" valign="top"><p align="center">03 </p></td>
    <td colspan="2" valign="top"><p>Lloyd Currie, Fire </p></td>
    <td colspan="2" valign="top"><p align="center">04 </p></td>
    <td colspan="2" valign="top"><p>Len Milne, ES JEM </p></td>
  </tr>
  <tr>
    <td width="157" valign="top"><p align="center">05 </p></td>
    <td colspan="2" valign="top"><p>Joanne Crampton, RCMP </p></td>
    <td colspan="2" valign="top"><p align="center">06 </p></td>
    <td colspan="2" valign="top"><p>Gordon Graham, HRP </p></td>
  </tr>
  <tr>
    <td width="157" valign="top"><p align="center">07 </p></td>
    <td colspan="2" valign="top"><p>Erin Flame, Transit </p></td>
    <td colspan="2" valign="top"><p align="center">08 </p></td>
    <td colspan="2" valign="top"><p>Wayne Legere, TPW </p></td>
  </tr>
  <tr>
    <td width="157" valign="top"><p align="center">09 </p></td>
    <td colspan="2" valign="top"><p>&nbsp;</p></td>
    <td colspan="2" valign="top"><p align="center">10 </p></td>
    <td colspan="2" valign="top"><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="157" valign="top"><p align="center">11 </p></td>
    <td colspan="2" valign="top"><p>&nbsp;</p></td>
    <td colspan="2" valign="top"><p align="center">12 </p></td>
    <td colspan="2" valign="top"><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="157" valign="top"><p align="center">13 </p></td>
    <td colspan="2" valign="top"><p>&nbsp;</p></td>
    <td colspan="2" valign="top"><p align="center">14 </p></td>
    <td colspan="2" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
  </tr>
  <tr>
    <td width="157" valign="top"><p align="center">15 </p></td>
    <td colspan="2" valign="top"><p>&nbsp;</p></td>
    <td colspan="2" valign="top"><p align="center">16 </p></td>
    <td colspan="2" valign="top"><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="157" valign="top"><p align="center">17 </p></td>
    <td colspan="2" valign="top"><p>&nbsp;</p></td>
    <td colspan="2" valign="top"><p align="center">18 </p></td>
    <td colspan="2" valign="top"><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="157" valign="top"><p align="center">19 </p></td>
    <td colspan="2" valign="top"><p>&nbsp;</p></td>
    <td colspan="2" valign="top"><p align="center">20 </p></td>
    <td colspan="2" valign="top"><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="157" valign="top"><p align="center">21 </p></td>
    <td colspan="2" valign="top"><p>&nbsp;</p></td>
    <td colspan="2" valign="top"><p align="center">22 </p></td>
    <td colspan="2" valign="top"><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="157" valign="top"><p align="center">23 </p></td>
    <td colspan="2" valign="top"><p>&nbsp;</p></td>
    <td colspan="2" valign="top"><p align="center">24 </p></td>
    <td colspan="2" valign="top"><p>&nbsp;</p></td>
  </tr>
</table>
<table width="899" cellpadding="0" cellspacing="0">
  <tr>
    <td colspan="2" valign="top"><p><strong>Critical Emerging Issues:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong></p>
        <p><strong>(New issues that need to be addressed immediately)</strong> </p></td>
  </tr>
  <tr>
    <td width="33" valign="top"><p>&nbsp;</p></td>
    <td width="864" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
  </tr>
  <tr>
    <td colspan="2" valign="top"><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td colspan="2" valign="top"><p><strong>Synopsis: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>
    </strong><strong>(Given by Lead Agency or Operations Officer)</strong> </p>
    </td>
  </tr>
  <tr>
    <td width="33" valign="top"><p>&nbsp;</p></td>
    <td width="864" valign="top"><p>&nbsp;</p></td>
  </tr>
</table>
<p>&nbsp;</p>
<table cellspacing="0" cellpadding="0">
  <tr>
    <td width="708" colspan="3" valign="top"><p align="center"><strong>Current Outstanding Issues:</strong> </p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center">&nbsp;</p></td>
    <td width="582" valign="top"><p>&nbsp;</p></td>
    <td width="78" valign="top"><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center">&nbsp;</p></td>
    <td width="582" valign="top"><p>&nbsp;</p></td>
    <td width="78" valign="top"><p>&nbsp;</p></td>
  </tr>
</table>
<table cellspacing="0" cellpadding="0">
  <tr>
    <td width="708" colspan="2" valign="top"><p><strong>Round Table Discussion</strong></p>
        <p><strong>(agency reports)</strong> </p></td>
  </tr>
  <tr>
    <td width="138" valign="top"><p>Fire </p></td>
    <td width="570" valign="top"><p>No issues. They have lifted the burning ban. Call volume has slowed down. </p></td>
  </tr>
  <tr>
    <td width="138" valign="top"><p>HRP </p></td>
    <td width="570" valign="top"><p>No issues. </p></td>
  </tr>
  <tr>
    <td width="138" valign="top"><p>RCMP </p></td>
    <td width="570" valign="top"><p>No issues. Stayed at Peggy&rsquo;s Cove throughout the night to ensure there were no problems. All roads have now re-opened. </p></td>
  </tr>
  <tr>
    <td width="138" valign="top"><p>TPW </p></td>
    <td width="570" valign="top"><p>They have a crew of 50 out working to clear debris. He asked that John Aguinaga call him at 229-4077 so they could discuss who to notify when crews come across lines tangles in trees. </p></td>
  </tr>
  <tr>
    <td width="138" valign="top"><p>Transit </p></td>
    <td width="570" valign="top"><p>Power returned overnight and operations are back to normal. Buses and ferries are running as scheduled. </p></td>
  </tr>
  <tr>
    <td width="138" valign="top"><p>NSPi </p></td>
    <td width="570" valign="top"><p>John Aguinaga: Crews worked steadily through the night. In HRM roughly 45,000 customers are still without power. They have 79 crews in metro working today, anticipating that most customers will be up by noon. Dutch Settlement will be a little later, 18:00 hrs tonight. Things will happen very fast now that there are so many crews on the road and the weather is fair. There is no critical infrastructure that they are aware of in areas with outages.</p>
        <p>&nbsp;</p>
        <p>Rob Bennett: The biggest issue was with the Kept Rd station. They now have a temporary unit there, a new one is being trucked in.&nbsp; </p></td>
  </tr>
  <tr>
    <td width="138" valign="top"><p>Halifax Water </p></td>
    <td width="570" valign="top"><p>The Purcell&rsquo;s Cove site is still without power but should be back up later today. </p>
        <p>The Lake Major low lift pump issue is still a problem (mechanical &amp; not hurricane related). They hope to have it addressed later today. Rob Bennett offered assistance from NSPi engineers if need be. </p></td>
  </tr>
  <tr>
    <td width="138" valign="top"><p>Corp Communications </p></td>
    <td width="570" valign="top"><p>They are putting a release together regarding fallen trees, roads open and municipal parks, to be released shortly.&nbsp; </p></td>
  </tr>
  <tr>
    <td width="138" valign="top"><p>EMO NS </p></td>
    <td width="570" valign="top"><p>No issues. </p></td>
  </tr>
  <tr>
    <td width="138" valign="top"><p>CAO </p></td>
    <td width="570" valign="top"><p>No concerns to report. He was very pleased with work done by all agencies. </p></td>
  </tr>
  <tr>
    <td width="138" valign="top"><p>Mayor </p></td>
    <td width="570" valign="top"><p>Thanked all agencies for their assistance and dedication. </p></td>
  </tr>
  <tr>
    <td width="138" valign="top"><p>Metro Housing Marcel Marcotte </p></td>
    <td width="570" valign="top"><p>No update given. </p></td>
  </tr>
  <tr>
    <td width="138" valign="top"><p>ES JEM </p></td>
    <td width="570" valign="top"><p>No issues. </p></td>
  </tr>
  <tr>
    <td width="138" valign="top"><p>ESS </p></td>
    <td width="570" valign="top"><p>No issues. </p></td>
  </tr>
  <tr>
    <td width="138" valign="top"><p>TA JEM </p></td>
    <td width="570" valign="top"><p>No issues. </p></td>
  </tr>
  <tr>
    <td width="138" valign="top"><p>Ops Officer </p></td>
    <td width="570" valign="top"><p>He will terminate this event as all hurricane issues have been resolved or are being addressed by an agency independently. </p></td>
  </tr>
</table>
<table cellspacing="0" cellpadding="0">
  <tr>
    <td width="708" colspan="3" valign="top"><p align="center"><strong>New Issues:</strong> </p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center">&nbsp;</p></td>
    <td width="582" valign="top"><p>&nbsp;</p></td>
    <td width="78" valign="top"><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center">&nbsp;</p></td>
    <td width="582" valign="top"><p>&nbsp;</p></td>
    <td width="78" valign="top"><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center">&nbsp;</p></td>
    <td width="582" valign="top"><p>&nbsp;</p></td>
    <td width="78" valign="top"><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center">&nbsp;</p></td>
    <td width="582" valign="top"><p>&nbsp;</p></td>
    <td width="78" valign="top"><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center">&nbsp;</p></td>
    <td width="582" valign="top"><p>&nbsp;</p></td>
    <td width="78" valign="top"><p>&nbsp;</p></td>
  </tr>
</table>
<p>&nbsp;</p>
<table cellspacing="0" cellpadding="0">
  <tr>
    <td width="114" valign="top"><p><strong>Next Sit-Rep:</strong> </p></td>
    <td width="240" valign="top"><p>Event closed&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
  </tr>
</table>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<table cellspacing="0" cellpadding="0">
  <tr>
    <td width="180" valign="top"><p>Operations Officer Approval: </p></td>
    <td width="102" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
  </tr>
</table>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p></p>
