<title>100904SitReport4</title>
<table cellspacing="0" cellpadding="0">
  <tr>
    <td width="483" colspan="6" valign="top"><p align="center"><strong>Situation Report</strong> </p></td>
    <td width="225" valign="top"><p align="right"><strong>E-004</strong> </p></td>
  </tr>
  <tr>
    <td width="102" colspan="2" valign="top"><p><strong>Sit-Rep Date:</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
    <td width="264" colspan="2" valign="top"><p>Sept 4, 2010 </p></td>
    <td width="117" colspan="2" valign="top"><p><strong>Time Started:</strong> </p></td>
    <td width="225" valign="top"><p>15:00 hrs </p></td>
  </tr>
  <tr>
    <td width="102" colspan="2" valign="top"><p><strong>Next Sit-Rep:</strong> </p></td>
    <td width="264" colspan="2" valign="top"><p>17:30 hrs </p></td>
    <td width="117" colspan="2" valign="top"><p><strong>Time Ended:</strong> </p></td>
    <td width="225" valign="top"><p>15:32 hrs </p></td>
  </tr>
  <tr>
    <td width="102" colspan="2" valign="top"><p><strong>Ops Officer:</strong> </p></td>
    <td width="606" colspan="5" valign="top"><p>John Parkin </p></td>
  </tr>
  <tr>
    <td width="102" colspan="2" valign="top"><p><strong>Scribe:</strong> </p></td>
    <td width="606" colspan="5" valign="top"><p>Zita Chouinard </p></td>
  </tr>
  <tr>
    <td width="708" colspan="7" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
  </tr>
  <tr>
    <td width="708" colspan="7" valign="top"><p><strong>Attending:</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p>
        <p>(Agency/Name)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center">01 </p></td>
    <td width="306" colspan="2" valign="top"><p>Lloyd Currie, Fire </p></td>
    <td width="48" colspan="2" valign="top"><p align="center">02 </p></td>
    <td width="306" colspan="2" valign="top"><p>Jim Perrin, HRP </p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center">03 </p></td>
    <td width="306" colspan="2" valign="top"><p>Mike Taylor, RCMP </p></td>
    <td width="48" colspan="2" valign="top"><p align="center">04 </p></td>
    <td width="306" colspan="2" valign="top"><p>Andy Boutilier, EHS </p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center">05 </p></td>
    <td width="306" colspan="2" valign="top"><p>John Webber, IES </p></td>
    <td width="48" colspan="2" valign="top"><p align="center">06 </p></td>
    <td width="306" colspan="2" valign="top"><p>Beate Shannon, TPW&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center">07 </p></td>
    <td width="306" colspan="2" valign="top"><p>Doug Mosher, Transit </p></td>
    <td width="48" colspan="2" valign="top"><p align="center">08 </p></td>
    <td width="306" colspan="2" valign="top"><p>Bob Robichaud, Environment Canada </p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center">09 </p></td>
    <td width="306" colspan="2" valign="top"><p>Cyndi McPhee, Red Cross </p></td>
    <td width="48" colspan="2" valign="top"><p align="center">10 </p></td>
    <td width="306" colspan="2" valign="top"><p>John Aguinaga, NSPi </p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center">11 </p></td>
    <td width="306" colspan="2" valign="top"><p>Shaune MacKinlay, Corp Communications - PIO </p></td>
    <td width="48" colspan="2" valign="top"><p align="center">12 </p></td>
    <td width="306" colspan="2" valign="top"><p>Shelly Emmerson, EMO NS </p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center">13 </p></td>
    <td width="306" colspan="2" valign="top"><p>John Parkin, HRP - EMO </p></td>
    <td width="48" colspan="2" valign="top"><p align="center">14 </p></td>
    <td width="306" colspan="2" valign="top"><p>Carl Yates, Halifax Water </p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center">15 </p></td>
    <td width="306" colspan="2" valign="top"><p>Wayne Anstey, CAO </p></td>
    <td width="48" colspan="2" valign="top"><p align="center">16 </p></td>
    <td width="306" colspan="2" valign="top"><p>Barry Manuel, EMO </p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center">17 </p></td>
    <td width="306" colspan="2" valign="top"><p>&nbsp;</p></td>
    <td width="48" colspan="2" valign="top"><p align="center">18 </p></td>
    <td width="306" colspan="2" valign="top"><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center">19 </p></td>
    <td width="306" colspan="2" valign="top"><p>&nbsp;</p></td>
    <td width="48" colspan="2" valign="top"><p align="center">20 </p></td>
    <td width="306" colspan="2" valign="top"><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center">21 </p></td>
    <td width="306" colspan="2" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
    <td width="48" colspan="2" valign="top"><p align="center">22 </p></td>
    <td width="306" colspan="2" valign="top"><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center">23 </p></td>
    <td width="306" colspan="2" valign="top"><p>&nbsp;</p></td>
    <td width="48" colspan="2" valign="top"><p align="center">24 </p></td>
    <td width="306" colspan="2" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
  </tr>
  <tr>
    <td width="708" colspan="7" valign="top"><p><strong>Attending Via Teleconference:</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p>
        <p>(Agency/Name) </p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center">01 </p></td>
    <td width="306" colspan="2" valign="top"><p>Joanne Crampton, RCMP </p></td>
    <td width="48" colspan="2" valign="top"><p align="center">02 </p></td>
    <td width="306" colspan="2" valign="top"><p>Neil Parnell, SH JEM </p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center">03 </p></td>
    <td width="306" colspan="2" valign="top"><p>Jeff McCurdy, MV JEM </p></td>
    <td width="48" colspan="2" valign="top"><p align="center">04 </p></td>
    <td width="306" colspan="2" valign="top"><p>Len Milne, ES JEM </p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center">05 </p></td>
    <td width="306" colspan="2" valign="top"><p>Cathy Barrinngton, Council </p></td>
    <td width="48" colspan="2" valign="top"><p align="center">06 </p></td>
    <td width="306" colspan="2" valign="top"><p>Ruth McCullugh, Council&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center">07 </p></td>
    <td width="306" colspan="2" valign="top"><p>Doug Hubley, TA JEM </p></td>
    <td width="48" colspan="2" valign="top"><p align="center">08 </p></td>
    <td width="306" colspan="2" valign="top"><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center">09 </p></td>
    <td width="306" colspan="2" valign="top"><p>&nbsp;</p></td>
    <td width="48" colspan="2" valign="top"><p align="center">10 </p></td>
    <td width="306" colspan="2" valign="top"><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center">11 </p></td>
    <td width="306" colspan="2" valign="top"><p>&nbsp;</p></td>
    <td width="48" colspan="2" valign="top"><p align="center">12 </p></td>
    <td width="306" colspan="2" valign="top"><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center">13 </p></td>
    <td width="306" colspan="2" valign="top"><p>&nbsp;</p></td>
    <td width="48" colspan="2" valign="top"><p align="center">14 </p></td>
    <td width="306" colspan="2" valign="top"><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center">15 </p></td>
    <td width="306" colspan="2" valign="top"><p>&nbsp;</p></td>
    <td width="48" colspan="2" valign="top"><p align="center">16 </p></td>
    <td width="306" colspan="2" valign="top"><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center">17 </p></td>
    <td width="306" colspan="2" valign="top"><p>&nbsp;</p></td>
    <td width="48" colspan="2" valign="top"><p align="center">18 </p></td>
    <td width="306" colspan="2" valign="top"><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center">19 </p></td>
    <td width="306" colspan="2" valign="top"><p>&nbsp;</p></td>
    <td width="48" colspan="2" valign="top"><p align="center">20 </p></td>
    <td width="306" colspan="2" valign="top"><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center">21 </p></td>
    <td width="306" colspan="2" valign="top"><p>&nbsp;</p></td>
    <td width="48" colspan="2" valign="top"><p align="center">22 </p></td>
    <td width="306" colspan="2" valign="top"><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center">23 </p></td>
    <td width="306" colspan="2" valign="top"><p>&nbsp;</p></td>
    <td width="48" colspan="2" valign="top"><p align="center">24 </p></td>
    <td width="306" colspan="2" valign="top"><p>&nbsp;</p></td>
  </tr>
</table>
<table width="914" cellpadding="0" cellspacing="0">
  <tr>
    <td colspan="2" valign="top"><p><strong>Critical Emerging Issues:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong></p>
        <p><strong>(New issues that need to be addressed immediately)</strong> </p></td>
  </tr>
  <tr>
    <td width="54" valign="top"><p>&nbsp;</p></td>
    <td width="864" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
  </tr>
  <tr>
    <td colspan="2" valign="top"><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td colspan="2" valign="top"><p><strong>Synopsis: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong></p>
        <p><strong>(Given by Lead Agency or Operations Officer)</strong> </p></td>
  </tr>
  <tr>
    <td width="54" valign="top"><p>&nbsp;</p></td>
    <td width="864" valign="top"><p>&nbsp;</p></td>
  </tr>
</table>
<table cellspacing="0" cellpadding="0">
  <tr>
    <td width="708" colspan="3" valign="top"><p align="center"><strong>Current Outstanding Issues:</strong> </p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center"><strong>2</strong> </p></td>
    <td width="582" valign="top"><p>Road Watch.</p>
        <p>Joanne Crampton: Members posted at all the beaches to keep traffic moving. Parking lots are closed at Lawrencetown Beach and Peggy&rsquo;s Cove Rd. Peggy&rsquo;s Cove Rd is however open to locals only. </p>
        <p>Jim Perrin HRP is monitoring the harbour and surrounding areas. The harbour is choppy but not much swell.</p>
        <p>Mike Taylor reported a number of road closures.</p>
        <p>Jim Perrin had no reports of closures but they are diverting traffic due to downed trees and debris. Hydro planing an issue on some roads.&nbsp; </p>
        <p>Mike Taylor: Things are status quo. </p>
        <p>Jim Perrin: Number of intersections where resources are tied up due to NSPi problems. He will be working with NSPi to address. </p>
        <p>ONGOING </p></td>
    <td width="78" valign="top"><p>RCMP and HRP </p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center"><strong>4</strong> </p></td>
    <td width="582" valign="top"><p>Public safety agencies mobility</p>
        <p>EHS is looking at pulling services now. He will notify Police, Fire and duty desk when official decision is made. </p>
        <p>Police reported business as usual. </p>
        <p>Fire reported business as usual. </p>
        <p>With storm passing this can be closed. </p>
        <p>CLOSED&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
    <td width="78" valign="top"><p>EHS </p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center"><strong>7</strong> </p></td>
    <td width="582" valign="top"><p>Bridge liaison</p>
        <p>Established liaison with bridge commission. </p>
        <p>Bridge now reopened to bike, pedestrians and high sided vehicles.</p>
        <p>CLOSED </p></td>
    <td width="78" valign="top"><p>HRP </p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center"><strong>8</strong> </p></td>
    <td width="582" valign="top"><p>Fuse blown at Pockwock</p>
        <p>Came back on 1:30 pm with live power. It was a relay switch issue, a straight forward fix.</p>
        <p>CLOSED </p></td>
    <td width="78" valign="top"><p>Halifax Water </p></td>
  </tr>
  <tr>
    <td width="48" height="138" valign="top"><p align="center"><strong>9</strong> </p></td>
    <td width="582" valign="top"><p>Front end message at 490-4000. </p>
        <p>Fixed and wait times are down to 20 seconds.</p>
        <p>CLOSED </p></td>
    <td width="78" valign="top"><p>BPIM </p></td>
  </tr>
</table>
<p>&nbsp;</p>
<table cellspacing="0" cellpadding="0">
  <tr>
    <td width="708" colspan="2" valign="top"><p><strong>Round Table Discussion</strong></p>
        <p><strong>(agency reports)</strong> </p></td>
  </tr>
  <tr>
    <td width="136" valign="top"><p>Environment </p></td>
    <td width="571" valign="top"><p>The storm is moving out, over the next hour it will be out in the Northumberland Straight. The winds are down but are still gusty. Winds going NW. It will be a few hours before winds really drop off. The hurricane is now a tropical storm.&nbsp;&nbsp; </p></td>
  </tr>
  <tr>
    <td width="136" valign="top"><p>Fire </p></td>
    <td width="571" valign="top"><p>Business as usual. </p></td>
  </tr>
  <tr>
    <td width="136" valign="top"><p>HRP </p></td>
    <td width="571" valign="top"><p>Business as usual. </p></td>
  </tr>
  <tr>
    <td width="136" valign="top"><p>RCMP </p></td>
    <td width="571" valign="top"><p>There was a possible drowning in the Prospect area. Joanne Crampton will contact Tamu Bracken regarding getting in touch with Shaune MacKinlay.&nbsp; </p></td>
  </tr>
  <tr>
    <td width="136" valign="top"><p>EHS </p></td>
    <td width="571" valign="top"><p>The power outage 6969 &amp; 6967 Bayers Rd is a serious issue for a patient up on the 7th floor. They are not able to bring him down using the stairs. Two paramedics are with him, he can not be left alone. </p></td>
  </tr>
  <tr>
    <td width="136" valign="top"><p>IES </p></td>
    <td width="571" valign="top"><p>Call volume is back to normal. </p></td>
  </tr>
  <tr>
    <td width="136" valign="top"><p>TPW </p></td>
    <td width="571" valign="top"><p>Works Control have come in to assist directing the clearing of trees. By 20:00 hrs they hope to have all trees, without power lines on them, cleared. They will liaise with NSPi regarding getting the others done.&nbsp;&nbsp; </p></td>
  </tr>
  <tr>
    <td width="136" valign="top"><p>Transit </p></td>
    <td width="571" valign="top"><p>They are in good shape. The ferries came back on at 14:00 hrs. The buses are running on schedule, maybe a 5 min delay. They did lose power at the Burnside garage due to a pole fire.&nbsp; </p></td>
  </tr>
  <tr>
    <td width="136" valign="top"><p>Red Cross </p></td>
    <td width="571" valign="top"><p>All quiet. </p></td>
  </tr>
  <tr>
    <td width="136" valign="top"><p>NSPi </p></td>
    <td width="571" valign="top"><p>Province wide there are roughly 200,000 without power, 120,000 of these in HRM. Many crews working hard to restore power/remove trees. They are forecasting two days to restore all power. </p>
        <p>Critical infrastructure issues have been brought forth. </p>
        <p>&nbsp;</p>
        <p>Transformer issues at the Kempt Rd location are the cause of the power outages on Bayer&rsquo;s Rd. They are investigating various solutions.&nbsp; </p></td>
  </tr>
  <tr>
    <td width="136" valign="top"><p>Halifax Water </p></td>
    <td width="571" valign="top"><p>Lake Major now on back up power. They have a leak there but they are working on repairing. The plant is operational. </p>
        <p>Halifax plant experienced a gen set problem but is now back on line. </p>
        <p>Dartmouth and Herring Cove stations are still on back up power. </p>
        <p>Eastern Passage, Timberlea and Lakeside have no power and no generator. </p></td>
  </tr>
  <tr>
    <td width="136" valign="top"><p>Corp Communications </p></td>
    <td width="571" valign="top"><p>Things are calming down. She will be looking to talk to Tamu Braken regarding the drowning out in Prospect. </p>
        <p>The interview went well with the Mayor and Barry.&nbsp; </p></td>
  </tr>
  <tr>
    <td width="136" valign="top"><p>EMO NS </p></td>
    <td width="571" valign="top"><p>EOC&rsquo;s in the southern part of Nova Scotia are beginning to close.&nbsp; </p></td>
  </tr>
  <tr>
    <td width="136" valign="top"><p>Metro Housing Marcel Marcotte </p></td>
    <td width="571" valign="top"><p>Number of downed trees. Contractors are working to clear everything. </p></td>
  </tr>
  <tr>
    <td width="136" valign="top"><p>SH JEM </p></td>
    <td width="571" valign="top"><p>Wide spread power outages. Winds remain gusty. They have concerns with high tide and wind gusts, they will continue to monitor. </p></td>
  </tr>
  <tr>
    <td width="136" valign="top"><p>MV JEM </p></td>
    <td width="571" valign="top"><p>Numerous power outages. The local hospital and seniors complex are on generator power. </p></td>
  </tr>
  <tr>
    <td width="136" valign="top"><p>ES JEM </p></td>
    <td width="571" valign="top"><p>The majority of their area is without power. Watching water levels. </p></td>
  </tr>
  <tr>
    <td width="136" valign="top"><p>TA JEM </p></td>
    <td width="571" valign="top"><p>No update reported. </p></td>
  </tr>
  <tr>
    <td width="136" valign="top"><p>Amateur Radio </p></td>
    <td width="571" valign="top"><p>No update reported. </p></td>
  </tr>
  <tr>
    <td width="136" valign="top"><p>Ops Officer </p></td>
    <td width="571" valign="top"><p>They may shut down over night but then re-activate in the morning to co-ordinate any prolonged power outage issues. A decision will be made later.&nbsp; </p></td>
  </tr>
  <tr>
    <td width="136" valign="top"><p>CAO </p></td>
    <td width="571" valign="top"><p>No update reported. </p></td>
  </tr>
  <tr>
    <td width="136" valign="top"><p>Mayor </p></td>
    <td width="571" valign="top"><p>Are crews coming in from NB or Maine to assist with power outage issues? Two days seems like a long time. John Aguinaga reported that NB crews are already in place. John hopes to have an update soon regarding time lines and number of crews working in HRM.</p>
        <p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="136" valign="top"><p>BPIM </p></td>
    <td width="571" valign="top"><p>The number of power related calls have dropped significantly. </p></td>
  </tr>
</table>
<p>&nbsp;</p>
<table cellspacing="0" cellpadding="0">
  <tr>
    <td width="708" colspan="3" valign="top"><p align="center"><strong>New Issues:</strong> </p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center"><strong>10</strong> </p></td>
    <td width="582" valign="top"><p>Power to 6969 &amp; 6967 (patient awaiting transfer to hospital from 7th floor) </p></td>
    <td width="78" valign="top"><p>EHS </p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center"><strong>11</strong> </p></td>
    <td width="582" valign="top"><p>Lake Major leak in the low lift. </p></td>
    <td width="78" valign="top"><p>Halifax Water </p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center">&nbsp;</p></td>
    <td width="582" valign="top"><p>&nbsp;</p></td>
    <td width="78" valign="top"><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center">&nbsp;</p></td>
    <td width="582" valign="top"><p>&nbsp;</p></td>
    <td width="78" valign="top"><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center">&nbsp;</p></td>
    <td width="582" valign="top"><p>&nbsp;</p></td>
    <td width="78" valign="top"><p>&nbsp;</p></td>
  </tr>
</table>
<p>&nbsp;</p>
<table cellspacing="0" cellpadding="0">
  <tr>
    <td width="114" valign="top"><p><strong>Next Sit-Rep:</strong> </p></td>
    <td width="240" valign="top"><p>17:30 hrs&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
  </tr>
</table>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<table cellspacing="0" cellpadding="0">
  <tr>
    <td width="180" valign="top"><p>Operations Officer Approval: </p></td>
    <td width="102" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
  </tr>
</table>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p></p>
