<title>100904SitReport5</title>
<table width="848" cellpadding="0" cellspacing="0">
  <tr>
    <td colspan="6" valign="top"><p align="center"><strong>Situation Report</strong> </p></td>
    <td width="484" valign="top"><p align="right"><strong>E-005</strong> </p></td>
  </tr>
  <tr>
    <td colspan="2" valign="top"><p><strong>Sit-Rep Date:</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
    <td colspan="2" valign="top"><p>Sept 4, 2010 </p></td>
    <td colspan="2" valign="top"><p><strong>Time Started:</strong> </p></td>
    <td width="484" valign="top"><p>17:32 hrs </p></td>
  </tr>
  <tr>
    <td colspan="2" valign="top"><p><strong>Next Sit-Rep:</strong> </p></td>
    <td colspan="2" valign="top"><p>&nbsp;19:00 hrs </p></td>
    <td colspan="2" valign="top"><p><strong>Time Ended:</strong> </p></td>
    <td width="484" valign="top"><p>&nbsp;18:04 hrs </p></td>
  </tr>
  <tr>
    <td colspan="2" valign="top"><p><strong>Ops Officer:</strong> </p></td>
    <td colspan="5" valign="top"><p>John Parkin </p></td>
  </tr>
  <tr>
    <td colspan="2" valign="top"><p><strong>Scribe:</strong> </p></td>
    <td colspan="5" valign="top"><p>Zita Chouinard </p></td>
  </tr>
  <tr>
    <td colspan="7" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
  </tr>
  <tr>
    <td colspan="7" valign="top"><p><strong>Attending:</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p>
        <p>(Agency/Name)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
  </tr>
  <tr>
    <td width="109" valign="top"><p align="center">01 </p></td>
    <td colspan="2" valign="top"><p>Lloyd Currie, Fire </p></td>
    <td colspan="2" valign="top"><p align="center">02 </p></td>
    <td colspan="2" valign="top"><p>Jim Perrin, HRP </p></td>
  </tr>
  <tr>
    <td width="109" valign="top"><p align="center">03 </p></td>
    <td colspan="2" valign="top"><p>Mike Taylor, RCMP </p></td>
    <td colspan="2" valign="top"><p align="center">04 </p></td>
    <td colspan="2" valign="top"><p>Andy Boutilier, EHS </p></td>
  </tr>
  <tr>
    <td width="109" valign="top"><p align="center">05 </p></td>
    <td colspan="2" valign="top"><p>John Webber, IES </p></td>
    <td colspan="2" valign="top"><p align="center">06 </p></td>
    <td colspan="2" valign="top"><p>Beate Shannon, TPW&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
  </tr>
  <tr>
    <td width="109" valign="top"><p align="center">07 </p></td>
    <td colspan="2" valign="top"><p>Doug Mosher, Transit </p></td>
    <td colspan="2" valign="top"><p align="center">08 </p></td>
    <td colspan="2" valign="top"><p>Bob Robichaud, Environment Canada </p></td>
  </tr>
  <tr>
    <td width="109" valign="top"><p align="center">09 </p></td>
    <td colspan="2" valign="top"><p>Susheel Arora, Halifax Water </p></td>
    <td colspan="2" valign="top"><p align="center">10 </p></td>
    <td colspan="2" valign="top"><p>John Aguinaga, NSPi </p></td>
  </tr>
  <tr>
    <td width="109" valign="top"><p align="center">11 </p></td>
    <td colspan="2" valign="top"><p>Shaune MacKinlay, Corp Communications - PIO </p></td>
    <td colspan="2" valign="top"><p align="center">12 </p></td>
    <td colspan="2" valign="top"><p>Shelly Emmerson, EMO NS </p></td>
  </tr>
  <tr>
    <td width="109" valign="top"><p align="center">13 </p></td>
    <td colspan="2" valign="top"><p>Wayne Anstey, CAO </p></td>
    <td colspan="2" valign="top"><p align="center">14 </p></td>
    <td colspan="2" valign="top"><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="109" valign="top"><p align="center">15 </p></td>
    <td colspan="2" valign="top"><p>&nbsp;</p></td>
    <td colspan="2" valign="top"><p align="center">16 </p></td>
    <td colspan="2" valign="top"><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="109" valign="top"><p align="center">17 </p></td>
    <td colspan="2" valign="top"><p>&nbsp;</p></td>
    <td colspan="2" valign="top"><p align="center">18 </p></td>
    <td colspan="2" valign="top"><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="109" valign="top"><p align="center">19 </p></td>
    <td colspan="2" valign="top"><p>&nbsp;</p></td>
    <td colspan="2" valign="top"><p align="center">20 </p></td>
    <td colspan="2" valign="top"><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="109" valign="top"><p align="center">21 </p></td>
    <td colspan="2" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
    <td colspan="2" valign="top"><p align="center">22 </p></td>
    <td colspan="2" valign="top"><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="109" valign="top"><p align="center">23 </p></td>
    <td colspan="2" valign="top"><p>&nbsp;</p></td>
    <td colspan="2" valign="top"><p align="center">24 </p></td>
    <td colspan="2" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
  </tr>
  <tr>
    <td colspan="7" valign="top"><p><strong>Attending Via Teleconference:</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p>
        <p>(Agency/Name) </p></td>
  </tr>
  <tr>
    <td width="109" valign="top"><p align="center">01 </p></td>
    <td colspan="2" valign="top"><p>Doug Hubley, TA JEM </p></td>
    <td colspan="2" valign="top"><p align="center">02 </p></td>
    <td colspan="2" valign="top"><p>Neil Parnell, SH JEM </p></td>
  </tr>
  <tr>
    <td width="109" valign="top"><p align="center">03 </p></td>
    <td colspan="2" valign="top"><p>Jeff McCurdy, MV JEM </p></td>
    <td colspan="2" valign="top"><p align="center">04 </p></td>
    <td colspan="2" valign="top"><p>Len Milne, ES JEM </p></td>
  </tr>
  <tr>
    <td width="109" valign="top"><p align="center">05 </p></td>
    <td colspan="2" valign="top"><p>Cathy Barrinngton, Council </p></td>
    <td colspan="2" valign="top"><p align="center">06 </p></td>
    <td colspan="2" valign="top"><p>Ruth McCullugh, Council&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
  </tr>
  <tr>
    <td width="109" valign="top"><p align="center">07 </p></td>
    <td colspan="2" valign="top"><p>&nbsp;</p></td>
    <td colspan="2" valign="top"><p align="center">08 </p></td>
    <td colspan="2" valign="top"><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="109" valign="top"><p align="center">09 </p></td>
    <td colspan="2" valign="top"><p>&nbsp;</p></td>
    <td colspan="2" valign="top"><p align="center">10 </p></td>
    <td colspan="2" valign="top"><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="109" valign="top"><p align="center">11 </p></td>
    <td colspan="2" valign="top"><p>&nbsp;</p></td>
    <td colspan="2" valign="top"><p align="center">12 </p></td>
    <td colspan="2" valign="top"><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="109" valign="top"><p align="center">13 </p></td>
    <td colspan="2" valign="top"><p>&nbsp;</p></td>
    <td colspan="2" valign="top"><p align="center">14 </p></td>
    <td colspan="2" valign="top"><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="109" valign="top"><p align="center">15 </p></td>
    <td colspan="2" valign="top"><p>&nbsp;</p></td>
    <td colspan="2" valign="top"><p align="center">16 </p></td>
    <td colspan="2" valign="top"><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="109" valign="top"><p align="center">17 </p></td>
    <td colspan="2" valign="top"><p>&nbsp;</p></td>
    <td colspan="2" valign="top"><p align="center">18 </p></td>
    <td colspan="2" valign="top"><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="109" valign="top"><p align="center">19 </p></td>
    <td colspan="2" valign="top"><p>&nbsp;</p></td>
    <td colspan="2" valign="top"><p align="center">20 </p></td>
    <td colspan="2" valign="top"><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="109" valign="top"><p align="center">21 </p></td>
    <td colspan="2" valign="top"><p>&nbsp;</p></td>
    <td colspan="2" valign="top"><p align="center">22 </p></td>
    <td colspan="2" valign="top"><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="109" valign="top"><p align="center">23 </p></td>
    <td colspan="2" valign="top"><p>&nbsp;</p></td>
    <td colspan="2" valign="top"><p align="center">24 </p></td>
    <td colspan="2" valign="top"><p>&nbsp;</p></td>
  </tr>
</table>
<p>&nbsp;</p>
<br>
<table width="852" cellpadding="0" cellspacing="0">
  <tr>
    <td colspan="2" valign="top"><p><strong>Critical Emerging Issues:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong></p>
        <p><strong>(New issues that need to be addressed immediately)</strong> </p></td>
  </tr>
  <tr>
    <td width="59" valign="top"><p>&nbsp;</p></td>
    <td width="720" valign="top"><p>Cathy Barrington received an email from Gloria McClusky regarding several nursing homes with no power or generator. She will email the list to Barry. </p>
        <p>SH JEM: Elmhurst Nursing home has no power and no working generator. Marcel Marcotte is aware.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p>
    </td>
  </tr>
  <tr>
    <td colspan="2" valign="top"><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td colspan="2" valign="top"><p><strong>Synopsis:<br>
    </strong><strong>(Given by Lead Agency or Operations Officer)</strong> </p>
    </td>
  </tr>
  <tr>
    <td width="59" valign="top"><p>&nbsp;</p></td>
    <td width="720" valign="top"><p>&nbsp;</p></td>
  </tr>
</table>
<table cellspacing="0" cellpadding="0">
  <tr>
    <td width="708" colspan="3" valign="top"><p align="center"><strong>Current Outstanding Issues:</strong> </p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center"><strong>2</strong> </p></td>
    <td width="582" valign="top"><p>Road Watch.</p>
        <p>Joanne Crampton: Members posted at all the beaches to keep traffic moving. Parking lots are closed at Lawrencetown Beach and Peggy&rsquo;s Cove Rd. Peggy&rsquo;s Cove Rd is however open to locals only. </p>
        <p>Jim Perrin HRP is monitoring the harbour and surrounding areas. The harbour is choppy but not much swell.</p>
        <p>Mike Taylor reported a number of road closures.</p>
        <p>Jim Perrin had no reports of closures but they are diverting traffic due to downed trees and debris. Hydro planing an issue on some roads.&nbsp; </p>
        <p>Mike Taylor: Things are status quo. </p>
        <p>Jim Perrin: Number of intersections where resources are tied up due to NSPi problems. He will be working with NSPi to address. </p>
        <p>Mike Taylor: Only two road closures currently remain.</p>
        <p>Jim Perrin: Two outstanding areas that still require manpower. They will be cleaned up shortly.</p>
        <p>CLOSED </p></td>
    <td width="78" valign="top"><p>RCMP and HRP </p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center"><strong>10</strong> </p></td>
    <td width="582" valign="top"><p>Power to 6969 &amp; 6967 (patient awaiting transfer to hospital from 7th floor) </p>
        <p>Power failure still exists, however, the patient has been transferred. </p>
        <p>CLOSED </p></td>
    <td width="78" valign="top"><p>EHS </p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center"><strong>11</strong> </p></td>
    <td width="582" valign="top"><p>Lake Major leak in the low lift.</p>
        <p>Still working on leak but they have on line power. The leak will be fixed in the next hour. </p>
        <p>CLOSED </p></td>
    <td width="78" valign="top"><p>Halifax Water </p></td>
  </tr>
</table>
<p>&nbsp;</p>
<table cellspacing="0" cellpadding="0">
  <tr>
    <td width="708" colspan="2" valign="top"><p><strong>Round Table Discussion</strong></p>
        <p><strong>(agency reports)</strong> </p></td>
  </tr>
  <tr>
    <td width="136" valign="top"><p>Environment </p></td>
    <td width="571" valign="top"><p>The storm is out in the golf and the rain has moved away from NS. Winds are still gusty. Next few days are supposed to be nice.&nbsp; </p></td>
  </tr>
  <tr>
    <td width="136" valign="top"><p>Fire </p></td>
    <td width="571" valign="top"><p>Business as usual. Calls are starting to decline. </p></td>
  </tr>
  <tr>
    <td width="136" valign="top"><p>HRP </p></td>
    <td width="571" valign="top"><p>Business as usual. </p></td>
  </tr>
  <tr>
    <td width="136" valign="top"><p>RCMP </p></td>
    <td width="571" valign="top"><p>Business as usual. </p></td>
  </tr>
  <tr>
    <td width="136" valign="top"><p>EHS </p></td>
    <td width="571" valign="top"><p>Business as usual. </p></td>
  </tr>
  <tr>
    <td width="136" valign="top"><p>IES </p></td>
    <td width="571" valign="top"><p>Business as usual. Call volume has returned to normal. </p></td>
  </tr>
  <tr>
    <td width="136" valign="top"><p>TPW </p></td>
    <td width="571" valign="top"><p>They are still cleaning up. They are working on a schedule for the rest of the weekend. </p></td>
  </tr>
  <tr>
    <td width="136" valign="top"><p>Transit </p></td>
    <td width="571" valign="top"><p>They have 4 detours in effect, 2 in Halifax, 2 in Dartmouth. Power issues remain in Burnside office. They need a generator or safety will be a concern for operators as they will not be able to be in contact with the office/dispatch. He will come with a contingency plan. </p></td>
  </tr>
  <tr>
    <td width="136" valign="top"><p>NSPi </p></td>
    <td width="571" valign="top"><p>200,000 outages, was up to 220000 briefly. </p>
        <p>The breakdown within HRM is: </p>
        <p>Bedford/Sackville 12,846</p>
        <p>Dartmouth&nbsp; 35,071</p>
        <p>Halifax 54,719</p>
        <p>Middle and Upper Musq 2,213</p>
        <p>Musq Hbr 3,751</p>
        <p>St Margaret&rsquo;s Bay 8,500</p>
        <p>Crews will continue working to midnight, 10 crews will be working through the night. More crews will be available tomorrow and additional 20 crews available frm NB tomorrow. </p>
        <p>A list needs to be formulated highlighting critical areas within the outage areas.</p>
        <p>John will provide an update for Duncan&rsquo;s area at next sit rep. </p>
    </td>
  </tr>
  <tr>
    <td width="136" valign="top"><p>Halifax Water </p></td>
    <td width="571" valign="top"><p>They still have some areas using back up power. They are dealing with fuel issues internally for generators. </p></td>
  </tr>
  <tr>
    <td width="136" valign="top"><p>Corp Communications </p></td>
    <td width="571" valign="top"><p>The Mayor is doing a 6pm interview with CTV. There are finishing up an advisory, please see her if you have anything to add.&nbsp; </p></td>
  </tr>
  <tr>
    <td width="136" valign="top"><p>EMO NS </p></td>
    <td width="571" valign="top"><p>Power is important for critical infrastructure... all across NS, not just HRM. TMR was down. They are doing a priority list in their EOC, perhaps they should they liaise with HRM on this? </p>
        <p>Many municipalities have now shut down their EOC&rsquo;s. </p>
        <p>Warf Rats Rally now getting under way. </p>
    </td>
  </tr>
  <tr>
    <td width="136" valign="top"><p>SH JEM </p></td>
    <td width="571" valign="top"><p>The rain has stopped now. The tide has come up but no issues presented. They are standing down until 10:00 Sunday.&nbsp; </p></td>
  </tr>
  <tr>
    <td width="136" valign="top"><p>MV JEM </p></td>
    <td width="571" valign="top"><p>Power remains out all over. </p></td>
  </tr>
  <tr>
    <td width="136" valign="top"><p>ES JEM </p></td>
    <td width="571" valign="top"><p>Things are good, power has been returned to many areas. </p></td>
  </tr>
  <tr>
    <td width="136" valign="top"><p>TA JEM </p></td>
    <td width="571" valign="top"><p>All is good in their area. </p></td>
  </tr>
  <tr>
    <td width="136" valign="top"><p>Ops Officer </p></td>
    <td width="571" valign="top"><p>They are starting to scaling back operations. GIS, Amateur Radio and IES are permitted to leave after this. PIO (Shaune to leave after hrs contact info), Web Services , BPIM are permitted to leave after sit rep at 19:00 hrs. </p></td>
  </tr>
  <tr>
    <td width="136" valign="top"><p>CAO </p></td>
    <td width="571" valign="top"><p>No issues. He would like to thank everyone for their dedication and great work.&nbsp; </p></td>
  </tr>
  <tr>
    <td width="136" valign="top"><p>BPIM </p></td>
    <td width="571" valign="top"><p>Nothing to report on </p></td>
  </tr>
</table>
<p>&nbsp;</p>
<table cellspacing="0" cellpadding="0">
  <tr>
    <td width="708" colspan="3" valign="top"><p align="center"><strong>New Issues:</strong> </p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center"><strong>12</strong> </p></td>
    <td width="582" valign="top"><p>Four nursing homes </p></td>
    <td width="78" valign="top"><p>EMO Ops </p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center"><strong>13</strong> </p></td>
    <td width="582" valign="top"><p>Power Restoration - critical components </p></td>
    <td width="78" valign="top"><p>Ops Officer </p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center"><strong>14 </strong> </p></td>
    <td width="582" valign="top"><p>Power to 200 Ilsley Transit Communication. </p></td>
    <td width="78" valign="top"><p>Transit </p></td>
  </tr>
</table>
<p>&nbsp;</p>
<table cellspacing="0" cellpadding="0">
  <tr>
    <td width="114" valign="top"><p><strong>Next Sit-Rep:</strong> </p></td>
    <td width="240" valign="top"><p>&nbsp;19:00 hrs&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
  </tr>
</table>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<table cellspacing="0" cellpadding="0">
  <tr>
    <td width="180" valign="top"><p>Operations Officer Approval: </p></td>
    <td width="102" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
  </tr>
</table>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p></p>
