<title>100904SitReport6</title>
<table cellspacing="0" cellpadding="0">
  <tr>
    <td width="483" colspan="6" valign="top"><p align="center"><strong>Situation Report</strong> </p></td>
    <td width="225" valign="top"><p align="right"><strong>E-006</strong> </p></td>
  </tr>
  <tr>
    <td width="102" colspan="2" valign="top"><p><strong>Sit-Rep Date:</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
    <td width="264" colspan="2" valign="top"><p>Sept 4, 2010 </p></td>
    <td width="117" colspan="2" valign="top"><p><strong>Time Started:</strong> </p></td>
    <td width="225" valign="top"><p>19:00 hrs </p></td>
  </tr>
  <tr>
    <td width="102" colspan="2" valign="top"><p><strong>Next Sit-Rep:</strong> </p></td>
    <td width="264" colspan="2" valign="top"><p>10:00 hrs, Sunday ,Sept 5 </p></td>
    <td width="117" colspan="2" valign="top"><p><strong>Time Ended:</strong> </p></td>
    <td width="225" valign="top"><p>19:19 hrs </p></td>
  </tr>
  <tr>
    <td width="102" colspan="2" valign="top"><p><strong>Ops Officer:</strong> </p></td>
    <td width="606" colspan="5" valign="top"><p>Barry Manuel </p></td>
  </tr>
  <tr>
    <td width="102" colspan="2" valign="top"><p><strong>Scribe:</strong> </p></td>
    <td width="606" colspan="5" valign="top"><p>Zita Chouinard </p></td>
  </tr>
  <tr>
    <td width="708" colspan="7" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
  </tr>
  <tr>
    <td width="708" colspan="7" valign="top"><p><strong>Attending:</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p>
        <p>(Agency/Name)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center">01 </p></td>
    <td width="306" colspan="2" valign="top"><p>Lloyd Currie, Fire </p></td>
    <td width="48" colspan="2" valign="top"><p align="center">02 </p></td>
    <td width="306" colspan="2" valign="top"><p>Jim Perrin, HRP </p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center">03 </p></td>
    <td width="306" colspan="2" valign="top"><p>Mike Taylor, RCMP </p></td>
    <td width="48" colspan="2" valign="top"><p align="center">04 </p></td>
    <td width="306" colspan="2" valign="top"><p>Andy Boutilier, EHS </p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center">05 </p></td>
    <td width="306" colspan="2" valign="top"><p>Beate Shannon, TPW </p></td>
    <td width="48" colspan="2" valign="top"><p align="center">06 </p></td>
    <td width="306" colspan="2" valign="top"><p>Doug Mosher, Transit </p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center">07 </p></td>
    <td width="306" colspan="2" valign="top"><p>Susheel Arora, Halifax Water </p></td>
    <td width="48" colspan="2" valign="top"><p align="center">08 </p></td>
    <td width="306" colspan="2" valign="top"><p>John Aguinaga, NSPi </p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center">09 </p></td>
    <td width="306" colspan="2" valign="top"><p>Shaune MacKinlay, Corp Communications - PIO </p></td>
    <td width="48" colspan="2" valign="top"><p align="center">10 </p></td>
    <td width="306" colspan="2" valign="top"><p>John Webb, Provincial ESS </p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center">11 </p></td>
    <td width="306" colspan="2" valign="top"><p>John Parkin, HRP - EMO </p></td>
    <td width="48" colspan="2" valign="top"><p align="center">12 </p></td>
    <td width="306" colspan="2" valign="top"><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center">13 </p></td>
    <td width="306" colspan="2" valign="top"><p>&nbsp;</p></td>
    <td width="48" colspan="2" valign="top"><p align="center">14 </p></td>
    <td width="306" colspan="2" valign="top"><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center">15 </p></td>
    <td width="306" colspan="2" valign="top"><p>&nbsp;</p></td>
    <td width="48" colspan="2" valign="top"><p align="center">16 </p></td>
    <td width="306" colspan="2" valign="top"><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center">17 </p></td>
    <td width="306" colspan="2" valign="top"><p>&nbsp;</p></td>
    <td width="48" colspan="2" valign="top"><p align="center">18 </p></td>
    <td width="306" colspan="2" valign="top"><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center">19 </p></td>
    <td width="306" colspan="2" valign="top"><p>&nbsp;</p></td>
    <td width="48" colspan="2" valign="top"><p align="center">20 </p></td>
    <td width="306" colspan="2" valign="top"><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center">21 </p></td>
    <td width="306" colspan="2" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
    <td width="48" colspan="2" valign="top"><p align="center">22 </p></td>
    <td width="306" colspan="2" valign="top"><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center">23 </p></td>
    <td width="306" colspan="2" valign="top"><p>&nbsp;</p></td>
    <td width="48" colspan="2" valign="top"><p align="center">24 </p></td>
    <td width="306" colspan="2" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
  </tr>
  <tr>
    <td width="708" colspan="7" valign="top"><p><strong>Attending Via Teleconference:</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p>
        <p>(Agency/Name) </p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center">01 </p></td>
    <td width="306" colspan="2" valign="top"><p>Doug Hubley, TA JEM </p></td>
    <td width="48" colspan="2" valign="top"><p align="center">02 </p></td>
    <td width="306" colspan="2" valign="top"><p>Len Milne, ES JEM </p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center">03 </p></td>
    <td width="306" colspan="2" valign="top"><p>Jeff McCurdy, MV JEM </p></td>
    <td width="48" colspan="2" valign="top"><p align="center">04 </p></td>
    <td width="306" colspan="2" valign="top"><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center">05 </p></td>
    <td width="306" colspan="2" valign="top"><p>&nbsp;</p></td>
    <td width="48" colspan="2" valign="top"><p align="center">06 </p></td>
    <td width="306" colspan="2" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center">07 </p></td>
    <td width="306" colspan="2" valign="top"><p>&nbsp;</p></td>
    <td width="48" colspan="2" valign="top"><p align="center">08 </p></td>
    <td width="306" colspan="2" valign="top"><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center">09 </p></td>
    <td width="306" colspan="2" valign="top"><p>&nbsp;</p></td>
    <td width="48" colspan="2" valign="top"><p align="center">10 </p></td>
    <td width="306" colspan="2" valign="top"><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center">11 </p></td>
    <td width="306" colspan="2" valign="top"><p>&nbsp;</p></td>
    <td width="48" colspan="2" valign="top"><p align="center">12 </p></td>
    <td width="306" colspan="2" valign="top"><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center">13 </p></td>
    <td width="306" colspan="2" valign="top"><p>&nbsp;</p></td>
    <td width="48" colspan="2" valign="top"><p align="center">14 </p></td>
    <td width="306" colspan="2" valign="top"><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center">15 </p></td>
    <td width="306" colspan="2" valign="top"><p>&nbsp;</p></td>
    <td width="48" colspan="2" valign="top"><p align="center">16 </p></td>
    <td width="306" colspan="2" valign="top"><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center">17 </p></td>
    <td width="306" colspan="2" valign="top"><p>&nbsp;</p></td>
    <td width="48" colspan="2" valign="top"><p align="center">18 </p></td>
    <td width="306" colspan="2" valign="top"><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center">19 </p></td>
    <td width="306" colspan="2" valign="top"><p>&nbsp;</p></td>
    <td width="48" colspan="2" valign="top"><p align="center">20 </p></td>
    <td width="306" colspan="2" valign="top"><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center">21 </p></td>
    <td width="306" colspan="2" valign="top"><p>&nbsp;</p></td>
    <td width="48" colspan="2" valign="top"><p align="center">22 </p></td>
    <td width="306" colspan="2" valign="top"><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center">23 </p></td>
    <td width="306" colspan="2" valign="top"><p>&nbsp;</p></td>
    <td width="48" colspan="2" valign="top"><p align="center">24 </p></td>
    <td width="306" colspan="2" valign="top"><p>&nbsp;</p></td>
  </tr>
</table>
<p>&nbsp;</p>
<table cellspacing="0" cellpadding="0">
  <tr>
    <td width="708" colspan="2" valign="top"><p><strong>Critical Emerging Issues:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong></p>
        <p><strong>(New issues that need to be addressed immediately)</strong> </p></td>
  </tr>
  <tr>
    <td width="54" valign="top"><p>&nbsp;</p></td>
    <td width="654" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
  </tr>
  <tr>
    <td width="708" colspan="2" valign="top"><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="708" colspan="2" valign="top"><p><strong>Synopsis: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong></p>
        <p><strong>(Given by Lead Agency or Operations Officer)</strong> </p></td>
  </tr>
  <tr>
    <td width="54" valign="top"><p>&nbsp;</p></td>
    <td width="654" valign="top"><p>&nbsp;</p></td>
  </tr>
</table>
<table cellspacing="0" cellpadding="0">
  <tr>
    <td width="708" colspan="3" valign="top"><p align="center"><strong>Current Outstanding Issues:</strong> </p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center"><strong>12</strong> </p></td>
    <td width="582" valign="top"><p>4 Nursing homes without power. </p>
        <p>&nbsp;</p>
        <p>Locations given to NSPi</p>
        <p>CLOSED </p></td>
    <td width="78" valign="top"><p>EMO Ops </p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center"><strong>13 </strong> </p></td>
    <td width="582" valign="top"><p>Power restoration - critical components</p>
        <p>&nbsp;</p>
        <p>Fire: using generators, Police: all good, RCMP: North Central and Sheet Harbour detachment have no power, EHS: nothing critical, TPW: all good</p>
        <p>CLOSED </p></td>
    <td width="78" valign="top"><p>Ops Officer </p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center"><strong>14 </strong> </p></td>
    <td width="582" valign="top"><p>Power to 200 Ilsley Transit Communications.</p>
        <p>&nbsp;</p>
        <p>Contingency plan, extension cords. This will work as a temporary fix.&nbsp; </p>
        <p>CLOSED </p></td>
    <td width="78" valign="top"><p>Transit </p></td>
  </tr>
</table>
<p>&nbsp;</p>
<table cellspacing="0" cellpadding="0">
  <tr>
    <td width="708" colspan="2" valign="top"><p><strong>Round Table Discussion</strong></p>
        <p><strong>(agency reports)</strong> </p></td>
  </tr>
  <tr>
    <td width="138" valign="top"><p>Fire </p></td>
    <td width="570" valign="top"><p>No issues to report on. </p></td>
  </tr>
  <tr>
    <td width="138" valign="top"><p>HRP </p></td>
    <td width="570" valign="top"><p>No issues to report on. </p></td>
  </tr>
  <tr>
    <td width="138" valign="top"><p>RCMP </p></td>
    <td width="570" valign="top"><p>No issues to report on. </p></td>
  </tr>
  <tr>
    <td width="138" valign="top"><p>EHS </p></td>
    <td width="570" valign="top"><p>No issues to report on. </p></td>
  </tr>
  <tr>
    <td width="138" valign="top"><p>TPW </p></td>
    <td width="570" valign="top"><p>No issues to report on. </p></td>
  </tr>
  <tr>
    <td width="138" valign="top"><p>Transit </p></td>
    <td width="570" valign="top"><p>No issues to report on. </p></td>
  </tr>
  <tr>
    <td width="138" valign="top"><p>NSPi </p></td>
    <td width="570" valign="top"><p>No significant change. 107,000 HRM, 2,500 in Sheet Harbour. </p></td>
  </tr>
  <tr>
    <td width="138" valign="top"><p>Halifax Water </p></td>
    <td width="570" valign="top"><p>No issues to report on. </p></td>
  </tr>
  <tr>
    <td width="138" valign="top"><p>Corp Communications </p></td>
    <td width="570" valign="top"><p>No issues to report on. </p></td>
  </tr>
  <tr>
    <td width="138" valign="top"><p>Ops Officer </p></td>
    <td width="570" valign="top"><p>They are shutting down tonight. They will open for a briefing tomorrow at 10:00 hrs. This can be done via teleconference or returning to the EOC. One rep from each agency is to participate. If you need anything tonight you can call him.&nbsp; </p></td>
  </tr>
  <tr>
    <td width="138" valign="top"><p>MV JEM </p></td>
    <td width="570" valign="top"><p>Numerous power outages exist. </p></td>
  </tr>
  <tr>
    <td width="138" valign="top"><p>ES JEM </p></td>
    <td width="570" valign="top"><p>Myers Point Rd (Head of Jeddore)&nbsp; in 600's the power is fluctuating. This may be an issue with a ground </p></td>
  </tr>
  <tr>
    <td width="138" valign="top"><p>TA JEM </p></td>
    <td width="570" valign="top"><p>No issues to report on. </p></td>
  </tr>
  <tr>
    <td width="138" valign="top"><p>ESS </p></td>
    <td width="570" valign="top"><p>They are asking special care and nursing homes without power to call into NSPi and self identify. They hope to address these on a priority basis.&nbsp; </p></td>
  </tr>
</table>
<p>&nbsp;</p>
<table cellspacing="0" cellpadding="0">
  <tr>
    <td width="708" colspan="3" valign="top"><p align="center"><strong>New Issues:</strong> </p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center">&nbsp;</p></td>
    <td width="582" valign="top"><p>&nbsp;</p></td>
    <td width="78" valign="top"><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center">&nbsp;</p></td>
    <td width="582" valign="top"><p>&nbsp;</p></td>
    <td width="78" valign="top"><p>&nbsp;</p></td>
  </tr>
</table>
<p>&nbsp;</p>
<table cellspacing="0" cellpadding="0">
  <tr>
    <td width="114" valign="top"><p><strong>Next Sit-Rep:</strong> </p></td>
    <td width="240" valign="top"><p>10:00 hrs, Sunday, Sept 5&nbsp;&nbsp;&nbsp; </p></td>
  </tr>
</table>
<p>&nbsp;</p>
<p>&nbsp;</p>
<table cellspacing="0" cellpadding="0">
  <tr>
    <td width="180" valign="top"><p>Operations Officer Approval: </p></td>
    <td width="102" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
  </tr>
</table>
<p>&nbsp;</p>
<br>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p></p>
