<title>100904Sitereport3.html</title>
<table cellspacing="0" cellpadding="0">
  <tr>
    <td width="483" colspan="6" valign="top"><p align="center"><strong>Situation Report</strong> </p></td>
    <td width="225" valign="top"><p align="right"><strong>E-003</strong> </p></td>
  </tr>
  <tr>
    <td width="102" colspan="2" valign="top"><p><strong>Sit-Rep Date:</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
    <td width="264" colspan="2" valign="top"><p>Sept 4, 2010 </p></td>
    <td width="117" colspan="2" valign="top"><p><strong>Time Started:</strong> </p></td>
    <td width="225" valign="top"><p>12:30 hrs </p></td>
  </tr>
  <tr>
    <td width="102" colspan="2" valign="top"><p><strong>Next Sit-Rep:</strong> </p></td>
    <td width="264" colspan="2" valign="top"><p>15:00 hrs </p></td>
    <td width="117" colspan="2" valign="top"><p><strong>Time Ended:</strong> </p></td>
    <td width="225" valign="top"><p>13:01 hrs </p></td>
  </tr>
  <tr>
    <td width="102" colspan="2" valign="top"><p><strong>Ops Officer:</strong> </p></td>
    <td width="606" colspan="5" valign="top"><p>Barry Manuel </p></td>
  </tr>
  <tr>
    <td width="102" colspan="2" valign="top"><p><strong>Scribe:</strong> </p></td>
    <td width="606" colspan="5" valign="top"><p>Zita Chouinard </p></td>
  </tr>
  <tr>
    <td width="708" colspan="7" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
  </tr>
  <tr>
    <td width="708" colspan="7" valign="top"><p><strong>Attending:</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p>
        <p>(Agency/Name)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center">01 </p></td>
    <td width="306" colspan="2" valign="top"><p>Lloyd Currie, Fire </p></td>
    <td width="48" colspan="2" valign="top"><p align="center">02 </p></td>
    <td width="306" colspan="2" valign="top"><p>Jim Perrin, HRP </p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center">03 </p></td>
    <td width="306" colspan="2" valign="top"><p>Mike Taylor, RCMP </p></td>
    <td width="48" colspan="2" valign="top"><p align="center">04 </p></td>
    <td width="306" colspan="2" valign="top"><p>Andy Boutilier, EHS </p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center">05 </p></td>
    <td width="306" colspan="2" valign="top"><p>John Webber, IES </p></td>
    <td width="48" colspan="2" valign="top"><p align="center">06 </p></td>
    <td width="306" colspan="2" valign="top"><p>Beate Shannon, TPW&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center">07 </p></td>
    <td width="306" colspan="2" valign="top"><p>Doug Mosher, Transit </p></td>
    <td width="48" colspan="2" valign="top"><p align="center">08 </p></td>
    <td width="306" colspan="2" valign="top"><p>Bob Robichaud, Environment Canada </p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center">09 </p></td>
    <td width="306" colspan="2" valign="top"><p>Cyndi McPhee, Red Cross </p></td>
    <td width="48" colspan="2" valign="top"><p align="center">10 </p></td>
    <td width="306" colspan="2" valign="top"><p>John Aguinaga, NSPi </p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center">11 </p></td>
    <td width="306" colspan="2" valign="top"><p>Shaune MacKinlay, Corp Communications - PIO </p></td>
    <td width="48" colspan="2" valign="top"><p align="center">12 </p></td>
    <td width="306" colspan="2" valign="top"><p>Dominic Fewer, EMO NS </p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center">13 </p></td>
    <td width="306" colspan="2" valign="top"><p>John Parkin, HRP - EMO </p></td>
    <td width="48" colspan="2" valign="top"><p align="center">14 </p></td>
    <td width="306" colspan="2" valign="top"><p>Carl Yates, Halifax Water </p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center">15 </p></td>
    <td width="306" colspan="2" valign="top"><p>Wayne Anstey, CAO </p></td>
    <td width="48" colspan="2" valign="top"><p align="center">16 </p></td>
    <td width="306" colspan="2" valign="top"><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center">17 </p></td>
    <td width="306" colspan="2" valign="top"><p>&nbsp;</p></td>
    <td width="48" colspan="2" valign="top"><p align="center">18 </p></td>
    <td width="306" colspan="2" valign="top"><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center">19 </p></td>
    <td width="306" colspan="2" valign="top"><p>&nbsp;</p></td>
    <td width="48" colspan="2" valign="top"><p align="center">20 </p></td>
    <td width="306" colspan="2" valign="top"><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center">21 </p></td>
    <td width="306" colspan="2" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
    <td width="48" colspan="2" valign="top"><p align="center">22 </p></td>
    <td width="306" colspan="2" valign="top"><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center">23 </p></td>
    <td width="306" colspan="2" valign="top"><p>&nbsp;</p></td>
    <td width="48" colspan="2" valign="top"><p align="center">24 </p></td>
    <td width="306" colspan="2" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
  </tr>
  <tr>
    <td width="708" colspan="7" valign="top"><p><strong>Attending Via Teleconference:</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p>
        <p>(Agency/Name) </p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center">01 </p></td>
    <td width="306" colspan="2" valign="top"><p>Joanne Crampton, RCMP </p></td>
    <td width="48" colspan="2" valign="top"><p align="center">02 </p></td>
    <td width="306" colspan="2" valign="top"><p>Duncan Kennedy, SH JEM </p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center">03 </p></td>
    <td width="306" colspan="2" valign="top"><p>Jeff McCurdy, MV JEM </p></td>
    <td width="48" colspan="2" valign="top"><p align="center">04 </p></td>
    <td width="306" colspan="2" valign="top"><p>Len Milne, ES JEM </p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center">05 </p></td>
    <td width="306" colspan="2" valign="top"><p>Cathy Barrinngton, Council </p></td>
    <td width="48" colspan="2" valign="top"><p align="center">06 </p></td>
    <td width="306" colspan="2" valign="top"><p>Ruth McCullugh, Council&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center">07 </p></td>
    <td width="306" colspan="2" valign="top"><p>Doug Hubley, TA JEM </p></td>
    <td width="48" colspan="2" valign="top"><p align="center">08 </p></td>
    <td width="306" colspan="2" valign="top"><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center">09 </p></td>
    <td width="306" colspan="2" valign="top"><p>&nbsp;</p></td>
    <td width="48" colspan="2" valign="top"><p align="center">10 </p></td>
    <td width="306" colspan="2" valign="top"><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center">11 </p></td>
    <td width="306" colspan="2" valign="top"><p>&nbsp;</p></td>
    <td width="48" colspan="2" valign="top"><p align="center">12 </p></td>
    <td width="306" colspan="2" valign="top"><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center">13 </p></td>
    <td width="306" colspan="2" valign="top"><p>&nbsp;</p></td>
    <td width="48" colspan="2" valign="top"><p align="center">14 </p></td>
    <td width="306" colspan="2" valign="top"><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center">15 </p></td>
    <td width="306" colspan="2" valign="top"><p>&nbsp;</p></td>
    <td width="48" colspan="2" valign="top"><p align="center">16 </p></td>
    <td width="306" colspan="2" valign="top"><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center">17 </p></td>
    <td width="306" colspan="2" valign="top"><p>&nbsp;</p></td>
    <td width="48" colspan="2" valign="top"><p align="center">18 </p></td>
    <td width="306" colspan="2" valign="top"><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center">19 </p></td>
    <td width="306" colspan="2" valign="top"><p>&nbsp;</p></td>
    <td width="48" colspan="2" valign="top"><p align="center">20 </p></td>
    <td width="306" colspan="2" valign="top"><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center">21 </p></td>
    <td width="306" colspan="2" valign="top"><p>&nbsp;</p></td>
    <td width="48" colspan="2" valign="top"><p align="center">22 </p></td>
    <td width="306" colspan="2" valign="top"><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center">23 </p></td>
    <td width="306" colspan="2" valign="top"><p>&nbsp;</p></td>
    <td width="48" colspan="2" valign="top"><p align="center">24 </p></td>
    <td width="306" colspan="2" valign="top"><p>&nbsp;</p></td>
  </tr>
</table>
<p>&nbsp;</p>
<br>
<br>
<table cellspacing="0" cellpadding="0">
  <tr>
    <td width="708" colspan="2" valign="top"><p><strong>Critical Emerging Issues:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong></p>
        <p><strong>(New issues that need to be addressed immediately)</strong> </p></td>
  </tr>
  <tr>
    <td width="54" valign="top"><p>&nbsp;</p></td>
    <td width="654" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
  </tr>
  <tr>
    <td width="708" colspan="2" valign="top"><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="708" colspan="2" valign="top"><p><strong>Synopsis: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong></p>
        <p><strong>(Given by Lead Agency or Operations Officer)</strong> </p></td>
  </tr>
  <tr>
    <td width="54" valign="top"><p>&nbsp;</p></td>
    <td width="654" valign="top"><p>&nbsp;</p></td>
  </tr>
</table>
<p>&nbsp;</p>
<table cellspacing="0" cellpadding="0">
  <tr>
    <td width="708" colspan="3" valign="top"><p align="center"><strong>Current Outstanding Issues:</strong> </p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center"><strong>2</strong> </p></td>
    <td width="582" valign="top"><p>Road Watch.</p>
        <p>Joanne members posted at all the beaches to keep traffic moving. Parking lots are closed at Lawrencetown Beach and Peggy&rsquo;s Cove Rd. Peggy&rsquo;s Cove Rd is however open to locals only. </p>
        <p>Jim Perrin HRP is monitoring the harbour and surrounding areas. The harbour is choppy but not much swell.</p>
        <p>&nbsp;</p>
        <p>Mike Taylor reported a number of road closures.</p>
        <p>Jim Perrin had no reports of closures but they are diverting traffic due to downed trees and debris. Hydro planing an issue on some roads.&nbsp; </p>
        <p>ONGOING </p></td>
    <td width="78" valign="top"><p>RCMP and HRP </p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center"><strong>3</strong> </p></td>
    <td width="582" valign="top"><p>Agencies to talk to NSPi regarding critical infrastructure </p>
        <p>CLOSED </p></td>
    <td width="78" valign="top"><p>All </p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center"><strong>4</strong> </p></td>
    <td width="582" valign="top"><p>Public safety agencies mobility</p>
        <p>EHS is looking at pulling services now. He will notify Police, Fire and duty desk when official decision is made. </p>
        <p>Police reported business as usual. </p>
        <p>Fire reported business as usual. </p>
        <p>ONGOING&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
    <td width="78" valign="top"><p>EHS </p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center"><strong>5</strong> </p></td>
    <td width="582" valign="top"><p>TIR TPW liaison</p>
        <p>Made connections between two levels. </p>
        <p>CLOSED </p></td>
    <td width="78" valign="top"><p>EMO NS </p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center"><strong>6</strong> </p></td>
    <td width="582" valign="top"><p>Commercial fuel delivery to MV</p>
        <p>Steve Burt spoke with Jeff McCurdy and fuel will be delivered to the one station without.</p>
        <p>CLOSED </p></td>
    <td width="78" valign="top"><p>Imperial Oil </p>
        <p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center"><strong>7</strong> </p></td>
    <td width="582" valign="top"><p>Bridge liaison</p>
        <p>Established liaison with bridge commission. </p>
        <p>ONGOING </p></td>
    <td width="78" valign="top"><p>HRP </p></td>
  </tr>
</table>
<p>&nbsp;</p>
<table cellspacing="0" cellpadding="0">
  <tr>
    <td width="708" colspan="2" valign="top"><p><strong>Round Table Discussion</strong></p>
        <p><strong>(agency reports)</strong> </p></td>
  </tr>
  <tr>
    <td width="138" valign="top"><p>Environment </p></td>
    <td width="570" valign="top"><p>The storm is still SW of us and is getting close. Things should start to improve in a couple of hours. Winds gusts 110 kmh to 120 kmh and it is still a category one hurricane.</p>
        <p>New from Bob at end of meeting : The storm has made landfall as a category one 1, with 85 km/hr sustained&nbsp; winds. </p></td>
  </tr>
  <tr>
    <td width="138" valign="top"><p>Fire </p></td>
    <td width="570" valign="top"><p>Business as usual. Volunteers in stations on standby. </p></td>
  </tr>
  <tr>
    <td width="138" valign="top"><p>HRP </p></td>
    <td width="570" valign="top"><p>Very busy, they may look at using Sheriffs in marked cars to ease volume.&nbsp; </p></td>
  </tr>
  <tr>
    <td width="138" valign="top"><p>RCMP </p></td>
    <td width="570" valign="top"><p>Business as usual. </p></td>
  </tr>
  <tr>
    <td width="138" valign="top"><p>EHS </p></td>
    <td width="570" valign="top"><p>Busy. Working on a patient transfer, 7th floor, no elevator.&nbsp; </p>
        <p>Andy Boutilier reported very good info flowing in from the JEM groups. </p></td>
  </tr>
  <tr>
    <td width="138" valign="top"><p>IES </p></td>
    <td width="570" valign="top"><p>Call volume up substantially but manageable. </p></td>
  </tr>
  <tr>
    <td width="138" valign="top"><p>TPW </p></td>
    <td width="570" valign="top"><p>Very busy with fallen tree calls, extra crews have been brought in. Main routes and transit routes will be cleared first.&nbsp; </p></td>
  </tr>
  <tr>
    <td width="138" valign="top"><p>Transit </p></td>
    <td width="570" valign="top"><p>The access a bus is still running. Regular bus routes still in service, taking detours as necessary. Ferry service has stopped but crews are on stand by waiting to resume.&nbsp; </p></td>
  </tr>
  <tr>
    <td width="138" valign="top"><p>Red Cross </p></td>
    <td width="570" valign="top"><p>All quiet for now. </p></td>
  </tr>
  <tr>
    <td width="138" valign="top"><p>NSPi </p></td>
    <td width="570" valign="top"><p>117,000 customers with outages, 104,000 in the central area. No transmission or damage issues to report on.. </p></td>
  </tr>
  <tr>
    <td width="138" valign="top"><p>Halifax Water </p></td>
    <td width="570" valign="top"><p>Pockwock without power (possible fuse issue), operating on generator. Electrician will be coming into fix.</p>
        <p>Two waste water plants operating on generators. </p>
        <p>Power lost to Eastern Passage site, no generator.</p>
        <p>Power lost to North Preston and Lockview facilities, operating on generator. </p>
        <p>Power lost to Dartmouth waste water plant, operating on generator. </p>
        <p>&nbsp;</p>
        <p>The Mayor inquired about diesel for generators and infrastructure being manned. Carl reported extra fuel is not a concern and infrastructure is being manned.&nbsp;&nbsp; </p></td>
  </tr>
  <tr>
    <td width="138" valign="top"><p>Corp Communications </p></td>
    <td width="570" valign="top"><p>They are busy, getting national and international calls. They have a teleconference at 13:15 hrs with Barry, Mayor and Prov. They have been making good use of 107.7 FM and encourage others (NSPi) to use them as well. </p></td>
  </tr>
  <tr>
    <td width="138" valign="top"><p>EMO NS </p></td>
    <td width="570" valign="top"><p>There are numerous calls into 911 regarding NSPi issues, lines down and such. They are hoping that the message will get out to people letting them know to stay clear of lines and to call NSPi at 428-6004 not 911. </p>
        <p>TIR will not be entertaining any more requests for barricades. The barricades are blowing away. </p></td>
  </tr>
  <tr>
    <td width="138" valign="top"><p>Steve Burt</p>
        <p>Imperial Oil </p></td>
    <td width="570" valign="top"><p>No issues to report on. </p></td>
  </tr>
  <tr>
    <td width="138" valign="top"><p>Metro Housing Marcel Marcotte </p></td>
    <td width="570" valign="top"><p>Minor issues that contractors are addressing.&nbsp; </p></td>
  </tr>
  <tr>
    <td width="138" valign="top"><p>SH JEM </p></td>
    <td width="570" valign="top"><p>Some power outages. </p></td>
  </tr>
  <tr>
    <td width="138" valign="top"><p>MV JEM </p></td>
    <td width="570" valign="top"><p>Some power outages. </p></td>
  </tr>
  <tr>
    <td width="138" valign="top"><p>ES JEM </p></td>
    <td width="570" valign="top"><p>Power outages in all communities </p></td>
  </tr>
  <tr>
    <td width="138" valign="top"><p>TA JEM </p></td>
    <td width="570" valign="top"><p>Some power outages. </p></td>
  </tr>
  <tr>
    <td width="138" valign="top"><p>Amateur Radio </p></td>
    <td width="570" valign="top"><p>No issues to report on. </p></td>
  </tr>
  <tr>
    <td width="138" valign="top"><p>Ops Officer </p></td>
    <td width="570" valign="top"><p>No issues to report on. </p></td>
  </tr>
  <tr>
    <td width="138" valign="top"><p>CAO </p></td>
    <td width="570" valign="top"><p>Instead of music for clients waiting on hold on 490-4000, can we play update messages (ie. Buses running and bridges closed)? Daya will investigate.&nbsp; </p></td>
  </tr>
  <tr>
    <td width="138" valign="top"><p>Mayor </p></td>
    <td width="570" valign="top"><p>He inquired about staffing and wait times at the Call Centre? He also asked about phone lines, how will we be notified if they are down? Barry reported that the EMO NS will notify us.</p>
        <p>&nbsp;</p></td>
  </tr>
</table>
<p>&nbsp;</p>
<table cellspacing="0" cellpadding="0">
  <tr>
    <td width="708" colspan="3" valign="top"><p align="center"><strong>New Issues:</strong> </p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center"><strong>8</strong> </p></td>
    <td width="582" valign="top"><p>Fuse blown at Pockwock </p></td>
    <td width="78" valign="top"><p>Halifax Water </p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center"><strong>9</strong> </p></td>
    <td width="582" valign="top"><p>Front end message at 490-4000. </p></td>
    <td width="78" valign="top"><p>BPIM </p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center">&nbsp;</p></td>
    <td width="582" valign="top"><p>&nbsp;</p></td>
    <td width="78" valign="top"><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center">&nbsp;</p></td>
    <td width="582" valign="top"><p>&nbsp;</p></td>
    <td width="78" valign="top"><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center">&nbsp;</p></td>
    <td width="582" valign="top"><p>&nbsp;</p></td>
    <td width="78" valign="top"><p>&nbsp;</p></td>
  </tr>
</table>
<p>&nbsp;</p>
<table cellspacing="0" cellpadding="0">
  <tr>
    <td width="114" valign="top"><p><strong>Next Sit-Rep:</strong> </p></td>
    <td width="240" valign="top"><p>15:00 hrs&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
  </tr>
</table>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<table cellspacing="0" cellpadding="0">
  <tr>
    <td width="180" valign="top"><p>Operations Officer Approval: </p></td>
    <td width="102" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
  </tr>
</table>
<p>&nbsp;</p>
<p>&nbsp;</p>
