<title>100904Sitreport2</title>
<table cellspacing="0" cellpadding="0">
  <tr>
    <td width="483" colspan="6" valign="top"><p align="center"><strong>Situation Report</strong> </p></td>
    <td width="225" valign="top"><p align="right"><strong>E-002</strong> </p></td>
  </tr>
  <tr>
    <td width="102" colspan="2" valign="top"><p><strong>Sit-Rep Date:</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
    <td width="264" colspan="2" valign="top"><p>Sept 4, 2010 </p></td>
    <td width="117" colspan="2" valign="top"><p><strong>Time Started:</strong> </p></td>
    <td width="225" valign="top"><p>10:00 hrs </p></td>
  </tr>
  <tr>
    <td width="102" colspan="2" valign="top"><p><strong>Next Sit-Rep:</strong> </p></td>
    <td width="264" colspan="2" valign="top"><p>12:30 hrs </p></td>
    <td width="117" colspan="2" valign="top"><p><strong>Time Ended:</strong> </p></td>
    <td width="225" valign="top"><p>10:26 hrs </p></td>
  </tr>
  <tr>
    <td width="102" colspan="2" valign="top"><p><strong>Ops Officer:</strong> </p></td>
    <td width="606" colspan="5" valign="top"><p>Barry Manuel </p></td>
  </tr>
  <tr>
    <td width="102" colspan="2" valign="top"><p><strong>Scribe:</strong> </p></td>
    <td width="606" colspan="5" valign="top"><p>Zita Chouinard </p></td>
  </tr>
  <tr>
    <td width="708" colspan="7" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
  </tr>
  <tr>
    <td width="708" colspan="7" valign="top"><p><strong>Attending:</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p>
        <p>(Agency/Name)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center">01 </p></td>
    <td width="306" colspan="2" valign="top"><p>Lloyd Currie, Fire </p></td>
    <td width="48" colspan="2" valign="top"><p align="center">02 </p></td>
    <td width="306" colspan="2" valign="top"><p>Jim Perrin, HRP </p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center">03 </p></td>
    <td width="306" colspan="2" valign="top"><p>Joanne Crampton, RCMP </p></td>
    <td width="48" colspan="2" valign="top"><p align="center">04 </p></td>
    <td width="306" colspan="2" valign="top"><p>Andy Boutilier, EHS </p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center">05 </p></td>
    <td width="306" colspan="2" valign="top"><p>John Webber, IES </p></td>
    <td width="48" colspan="2" valign="top"><p align="center">06 </p></td>
    <td width="306" colspan="2" valign="top"><p>Beate Shannon, TPW&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center">07 </p></td>
    <td width="306" colspan="2" valign="top"><p>Doug Mosher, Transit </p></td>
    <td width="48" colspan="2" valign="top"><p align="center">08 </p></td>
    <td width="306" colspan="2" valign="top"><p>Bob Robichaud, Environment Canada </p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center">09 </p></td>
    <td width="306" colspan="2" valign="top"><p>Cyndi McPhee, Red Cross </p></td>
    <td width="48" colspan="2" valign="top"><p align="center">10 </p></td>
    <td width="306" colspan="2" valign="top"><p>John Aguinaga, NSPi </p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center">11 </p></td>
    <td width="306" colspan="2" valign="top"><p>Shaune MacKinlay, Corp Communications - PIO </p></td>
    <td width="48" colspan="2" valign="top"><p align="center">12 </p></td>
    <td width="306" colspan="2" valign="top"><p>Dominic Fewer, EMO NS </p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center">13 </p></td>
    <td width="306" colspan="2" valign="top"><p>John Parkin, HRP - EMO </p></td>
    <td width="48" colspan="2" valign="top"><p align="center">14 </p></td>
    <td width="306" colspan="2" valign="top"><p>Carl Yates, Halifax Water </p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center">15 </p></td>
    <td width="306" colspan="2" valign="top"><p>Robert Stapely, 107.7 FM </p></td>
    <td width="48" colspan="2" valign="top"><p align="center">16 </p></td>
    <td width="306" colspan="2" valign="top"><p>G. Jordan, 107.7 FM </p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center">17 </p></td>
    <td width="306" colspan="2" valign="top"><p>&nbsp;</p></td>
    <td width="48" colspan="2" valign="top"><p align="center">18 </p></td>
    <td width="306" colspan="2" valign="top"><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center">19 </p></td>
    <td width="306" colspan="2" valign="top"><p>&nbsp;</p></td>
    <td width="48" colspan="2" valign="top"><p align="center">20 </p></td>
    <td width="306" colspan="2" valign="top"><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center">21 </p></td>
    <td width="306" colspan="2" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
    <td width="48" colspan="2" valign="top"><p align="center">22 </p></td>
    <td width="306" colspan="2" valign="top"><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center">23 </p></td>
    <td width="306" colspan="2" valign="top"><p>&nbsp;</p></td>
    <td width="48" colspan="2" valign="top"><p align="center">24 </p></td>
    <td width="306" colspan="2" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
  </tr>
  <tr>
    <td width="708" colspan="7" valign="top"><p><strong>Attending Via Teleconference:</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p>
        <p>(Agency/Name) </p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center">01 </p></td>
    <td width="306" colspan="2" valign="top"><p>Wayne Anstey, CAO </p></td>
    <td width="48" colspan="2" valign="top"><p align="center">02 </p></td>
    <td width="306" colspan="2" valign="top"><p>Duncan Kennedy, SH JEM </p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center">03 </p></td>
    <td width="306" colspan="2" valign="top"><p>Jeff McCurdy, MV JEM </p></td>
    <td width="48" colspan="2" valign="top"><p align="center">04 </p></td>
    <td width="306" colspan="2" valign="top"><p>Len Milne, ES JEM </p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center">05 </p></td>
    <td width="306" colspan="2" valign="top"><p>Cathy Barrinngton, Council </p></td>
    <td width="48" colspan="2" valign="top"><p align="center">06 </p></td>
    <td width="306" colspan="2" valign="top"><p>Ruth McCullugh, Council&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center">07 </p></td>
    <td width="306" colspan="2" valign="top"><p>Jack McGaw, Information Radio </p></td>
    <td width="48" colspan="2" valign="top"><p align="center">08 </p></td>
    <td width="306" colspan="2" valign="top"><p>Doug Hubley, TA JEM </p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center">09 </p></td>
    <td width="306" colspan="2" valign="top"><p>Chris McNeil, HRP </p></td>
    <td width="48" colspan="2" valign="top"><p align="center">10 </p></td>
    <td width="306" colspan="2" valign="top"><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center">11 </p></td>
    <td width="306" colspan="2" valign="top"><p>&nbsp;</p></td>
    <td width="48" colspan="2" valign="top"><p align="center">12 </p></td>
    <td width="306" colspan="2" valign="top"><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center">13 </p></td>
    <td width="306" colspan="2" valign="top"><p>&nbsp;</p></td>
    <td width="48" colspan="2" valign="top"><p align="center">14 </p></td>
    <td width="306" colspan="2" valign="top"><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center">15 </p></td>
    <td width="306" colspan="2" valign="top"><p>&nbsp;</p></td>
    <td width="48" colspan="2" valign="top"><p align="center">16 </p></td>
    <td width="306" colspan="2" valign="top"><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center">17 </p></td>
    <td width="306" colspan="2" valign="top"><p>&nbsp;</p></td>
    <td width="48" colspan="2" valign="top"><p align="center">18 </p></td>
    <td width="306" colspan="2" valign="top"><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center">19 </p></td>
    <td width="306" colspan="2" valign="top"><p>&nbsp;</p></td>
    <td width="48" colspan="2" valign="top"><p align="center">20 </p></td>
    <td width="306" colspan="2" valign="top"><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center">21 </p></td>
    <td width="306" colspan="2" valign="top"><p>&nbsp;</p></td>
    <td width="48" colspan="2" valign="top"><p align="center">22 </p></td>
    <td width="306" colspan="2" valign="top"><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center">23 </p></td>
    <td width="306" colspan="2" valign="top"><p>&nbsp;</p></td>
    <td width="48" colspan="2" valign="top"><p align="center">24 </p></td>
    <td width="306" colspan="2" valign="top"><p>&nbsp;</p></td>
  </tr>
</table>
<p>&nbsp;</p>
<br>
<br>
<table cellspacing="0" cellpadding="0">
  <tr>
    <td width="708" colspan="2" valign="top"><p><strong>Critical Emerging Issues:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong></p>
        <p><strong>(New issues that need to be addressed immediately)</strong> </p></td>
  </tr>
  <tr>
    <td width="54" valign="top"><p>&nbsp;</p></td>
    <td width="654" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
  </tr>
  <tr>
    <td width="708" colspan="2" valign="top"><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="708" colspan="2" valign="top"><p><strong>Synopsis: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong></p>
        <p><strong>(Given by Lead Agency or Operations Officer)</strong> </p></td>
  </tr>
  <tr>
    <td width="54" valign="top"><p>&nbsp;</p></td>
    <td width="654" valign="top"><p>&nbsp;</p></td>
  </tr>
</table>
<p>&nbsp;</p>
<table cellspacing="0" cellpadding="0">
  <tr>
    <td width="708" colspan="3" valign="top"><p align="center"><strong>Current Outstanding Issues:</strong> </p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center"><strong>1</strong> </p></td>
    <td width="582" valign="top"><p>Incident action plans to be exchanged between HRM and EMO. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p>
        <p>CLOSED </p></td>
    <td width="78" valign="top"><p>Barry Manuel and Dominic Fewer </p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center"><strong>2</strong> </p></td>
    <td width="582" valign="top"><p>Road Watch.</p>
        <p>Joanne members posted at all the beaches to keep traffic moving. Parking lots are closed at Lawrencetown Beach and Peggy&rsquo;s Cove Rd. Peggy&rsquo;s Cove Rd is however open to locals only. </p>
        <p>Jim Perrin HRP is monitoring the harbour and surrounding areas. The harbour is choppy but not much swell.</p>
        <p>ON-GOING </p></td>
    <td width="78" valign="top"><p>RCMP and HRP </p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center">&nbsp;</p></td>
    <td width="582" valign="top"><p>&nbsp;</p></td>
    <td width="78" valign="top"><p>&nbsp;</p></td>
  </tr>
</table>
<p>&nbsp;</p>
<table cellspacing="0" cellpadding="0">
  <tr>
    <td width="708" colspan="2" valign="top"><p><strong>Round Table Discussion</strong></p>
        <p><strong>(agency reports)</strong> </p></td>
  </tr>
  <tr>
    <td width="138" valign="top"><p>Environment </p></td>
    <td width="570" valign="top"><p>Storm is 50 km off south shore, moving parallel. Seeing wind gusts in 90s up to 120km. Still not seeing the strongest winds yet. We are a couple hours away before strongest winds reach HRM, 60-70 sustained. </p></td>
  </tr>
  <tr>
    <td width="138" valign="top"><p>Fire </p></td>
    <td width="570" valign="top"><p>Single unit alarm respond, no alarm notification being issued. Awaiting word from their Safety division but they may no longer be waiting for NSPi at a downed power lines.&nbsp; </p></td>
  </tr>
  <tr>
    <td width="138" valign="top"><p>HRP </p></td>
    <td width="570" valign="top"><p>Not to many calls yet. Still responding to everything.&nbsp;&nbsp;&nbsp; </p></td>
  </tr>
  <tr>
    <td width="138" valign="top"><p>RCMP </p></td>
    <td width="570" valign="top"><p>There was a tipped oil truck, no leakage issues. It has been towed. They have stopped taking alarm calls. </p></td>
  </tr>
  <tr>
    <td width="138" valign="top"><p>EHS </p></td>
    <td width="570" valign="top"><p>Bridge closure and additional potential bridge closures&nbsp; is a big issue for them. We may pull ambulances off the road. Call volume is normal. </p></td>
  </tr>
  <tr>
    <td width="138" valign="top"><p>IES </p></td>
    <td width="570" valign="top"><p>Call volume is routine. </p></td>
  </tr>
  <tr>
    <td width="138" valign="top"><p>TPW </p></td>
    <td width="570" valign="top"><p>Half dozen calls on peninsula regarding downed trees and branches. No municipal roads closed.</p>
        <p>Barry asked that she be linked directly to the TIR rep in Fed/Prov EOC. Dom will bring over their rep&nbsp; </p></td>
  </tr>
  <tr>
    <td width="138" valign="top"><p>Transit </p></td>
    <td width="570" valign="top"><p>Ferries are still okay. Access a bus focusing on dialysis patients transport. McKay bridge high sided vehicle closure doesn&rsquo;t impact them to much . Things are still pretty much status quo for them. </p></td>
  </tr>
  <tr>
    <td width="138" valign="top"><p>Red Cross </p></td>
    <td width="570" valign="top"><p>Things are quiet but they are ready to go.&nbsp; </p></td>
  </tr>
  <tr>
    <td width="138" valign="top"><p>NSPi </p></td>
    <td width="570" valign="top"><p>Starting to see outages</p>
        <p>Bedford/Sackville 6,247</p>
        <p>Dartmouth 5,480</p>
        <p>Metro Halifax 8,590</p>
        <p>St Margaret&rsquo;s Bay 200</p>
        <p>Please visit website for more accurate breakdown. </p>
        <p>Barry asked that everyone liaise With John regarding critical infrastructure you may have in those areas. </p></td>
  </tr>
  <tr>
    <td width="138" valign="top"><p>Halifax Water </p></td>
    <td width="570" valign="top"><p>No critical infrastructure issues to report on. </p></td>
  </tr>
  <tr>
    <td width="138" valign="top"><p>Corp Communications </p></td>
    <td width="570" valign="top"><p>Updates have been given to the Weather Network and local radio stations. She will send out another advisory after this sit rep, focusing on not calling 911 unless it is an emergency. </p></td>
  </tr>
  <tr>
    <td width="138" valign="top"><p>EMO NS </p></td>
    <td width="570" valign="top"><p>The exchange of information between two EOCs going well. They will liaise TIR and TPW . </p></td>
  </tr>
  <tr>
    <td width="138" valign="top"><p>PIO </p></td>
    <td width="570" valign="top"><p>Weather network and local radio stations. Will ut another advisory out about not calling 911 unless it is </p></td>
  </tr>
  <tr>
    <td width="138" valign="top"><p>Steve Burt</p>
        <p>Imperial Oil </p></td>
    <td width="570" valign="top"><p>Nothing to report. </p></td>
  </tr>
  <tr>
    <td width="138" valign="top"><p>Metro Housing Marcel Marcotte </p></td>
    <td width="570" valign="top"><p>Nothing to report. </p></td>
  </tr>
  <tr>
    <td width="138" valign="top"><p>Ops Officer </p></td>
    <td width="570" valign="top"><p>McKay bridge closure to high sided vehicles. </p></td>
  </tr>
  <tr>
    <td width="138" valign="top"><p>SH JEM </p></td>
    <td width="570" valign="top"><p>Nothing to report. </p></td>
  </tr>
  <tr>
    <td width="138" valign="top"><p>MVJEM </p></td>
    <td width="570" valign="top"><p>Some service stations are out of fuel. What is the plan for fuel delivery? This does not effect emergency vehicles obtaining fuel. He will discuss off line with Steve Burt.</p>
        <p>They will activate their EOC, manning the Fire Hall permanently. </p></td>
  </tr>
  <tr>
    <td width="138" valign="top"><p>ES JEM </p></td>
    <td width="570" valign="top"><p>Nothing to report. </p></td>
  </tr>
  <tr>
    <td width="138" valign="top"><p>TA JEM </p></td>
    <td width="570" valign="top"><p>Nothing to report. </p></td>
  </tr>
</table>
<p>&nbsp;</p>
<table cellspacing="0" cellpadding="0">
  <tr>
    <td width="708" colspan="3" valign="top"><p align="center"><strong>New Issues:</strong> </p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center"><strong>3</strong> </p></td>
    <td width="582" valign="top"><p>Agencies to talk to NSPi regarding critical infrastructure </p></td>
    <td width="78" valign="top"><p>All </p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center"><strong>4</strong> </p></td>
    <td width="582" valign="top"><p>Public safety agencies mobility&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
    <td width="78" valign="top"><p>EHS </p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center"><strong>5</strong> </p></td>
    <td width="582" valign="top"><p>TIR TPW liaison </p></td>
    <td width="78" valign="top"><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center"><strong>6</strong> </p></td>
    <td width="582" valign="top"><p>Commercial fuel delivery to MV </p></td>
    <td width="78" valign="top"><p>Steve Burt </p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p align="center"><strong>7</strong> </p></td>
    <td width="582" valign="top"><p>Bridge liaison </p></td>
    <td width="78" valign="top"><p>John Parkin </p></td>
  </tr>
</table>
<p>&nbsp;</p>
<table cellspacing="0" cellpadding="0">
  <tr>
    <td width="114" valign="top"><p><strong>Next Sit-Rep:</strong> </p></td>
    <td width="240" valign="top"><p>12:30 hrs&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
  </tr>
</table>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<table cellspacing="0" cellpadding="0">
  <tr>
    <td width="180" valign="top"><p>Operations Officer Approval: </p></td>
    <td width="102" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
  </tr>
</table>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p></p>
