<title>Hurricane Earl Situation Report</title>
<table cellspacing="0" cellpadding="0">
  <tr>
    <td width="319" colspan="2" valign="top"><p><strong>Situation Report</strong></p></td>
    <td width="319" colspan="2" valign="top"><p align="right"><a name="Text31"></a><strong>Earl-001</strong> </p></td>
  </tr>
  <tr>
    <td width="102" valign="top"><p><strong>Sit-Rep Date:</strong></p></td>
    <td width="217" valign="top"><p>Sept 4, 2010 </p></td>
    <td width="104" valign="top"><p><strong>Time Started:</strong></p></td>
    <td width="215" valign="top"><p>07:31 hrs </p></td>
  </tr>
  <tr>
    <td width="102" valign="top"><p><strong>Next Sit-Rep:</strong></p></td>
    <td width="217" valign="top"><p>10:00 hrs </p></td>
    <td width="104" valign="top"><p><strong>Time Ended:</strong></p></td>
    <td width="215" valign="top"><p>07:58 hrs </p></td>
  </tr>
  <tr>
    <td width="102" valign="top"><p><strong>Ops Officer:</strong></p></td>
    <td width="537" colspan="3" valign="top"><p>Barry Manuel </p></td>
  </tr>
  <tr>
    <td width="102" valign="top"><p><strong>Scribe:</strong></p></td>
    <td width="537" colspan="3" valign="top"><p>Zita Chouinard </p></td>
  </tr>
</table>
<h2>&nbsp;</h2>
<table cellspacing="0" cellpadding="0">
  <tr>
    <td width="638" colspan="4" valign="top"><p><strong>Attending:</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p>
        <p>(Agency/Name)</p></td>
  </tr>
  <tr>
    <td width="64" valign="top"><p>&nbsp;</p>
        <p align="center">01</p></td>
    <td width="255" valign="top"><p>Lloyd Currie, Fire </p></td>
    <td width="66" valign="top"><p>&nbsp;</p>
        <p align="center">02</p></td>
    <td width="253" valign="top"><p>Jim Perrin, HRP </p></td>
  </tr>
  <tr>
    <td width="64" valign="top"><p>&nbsp;</p>
        <p align="center">03</p></td>
    <td width="255" valign="top"><p>Joanne Crampton, RCMP </p></td>
    <td width="66" valign="top"><p>&nbsp;</p>
        <p align="center">04</p></td>
    <td width="253" valign="top"><p>Andy Boutilier, EHS </p></td>
  </tr>
  <tr>
    <td width="64" valign="top"><p>&nbsp;</p>
        <p align="center">05</p></td>
    <td width="255" valign="top"><p>John Webber, IES </p></td>
    <td width="66" valign="top"><p>&nbsp;</p>
        <p align="center">06</p></td>
    <td width="253" valign="top"><p>Beate Shannon, TPW </p></td>
  </tr>
  <tr>
    <td width="64" valign="top"><p>&nbsp;</p>
        <p align="center">07</p></td>
    <td width="255" valign="top"><p>Doug Mosher, Transit </p></td>
    <td width="66" valign="top"><p>&nbsp;</p>
        <p align="center">08</p></td>
    <td width="253" valign="top"><p>Bob Robichaud, Environment Can </p></td>
  </tr>
  <tr>
    <td width="64" valign="top"><p>&nbsp;</p>
        <p align="center">09</p></td>
    <td width="255" valign="top"><p>Cyndi MacPhee, Red Cross </p></td>
    <td width="66" valign="top"><p>&nbsp;</p>
        <p align="center">10</p></td>
    <td width="253" valign="top"><p>John Aguinana, NSPi </p></td>
  </tr>
  <tr>
    <td width="64" valign="top"><p>&nbsp;</p>
        <p align="center">11</p></td>
    <td width="255" valign="top"><p>Shaune MacKinly, Corp Communicatoions, PIO </p></td>
    <td width="66" valign="top"><p>&nbsp;</p>
        <p align="center">12</p></td>
    <td width="253" valign="top"><p>Dominc Fewer, EMO NS </p></td>
  </tr>
  <tr>
    <td width="64" valign="top"><p>&nbsp;</p>
        <p align="center">13</p></td>
    <td width="255" valign="top"><p>John Parkin, HRP-EMO </p></td>
    <td width="66" valign="top"><p>&nbsp;</p>
        <p align="center">14</p></td>
    <td width="253" valign="top"><p>Carl Yates, Halifax Water </p></td>
  </tr>
  <tr>
    <td width="64" valign="top"><p>&nbsp;</p>
        <p align="center">15</p></td>
    <td width="255" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
    <td width="66" valign="top"><p>&nbsp;</p>
        <p align="center">16</p></td>
    <td width="253" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
  </tr>
  <tr>
    <td width="64" valign="top"><p>&nbsp;</p>
        <p align="center">17</p></td>
    <td width="255" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
    <td width="66" valign="top"><p>&nbsp;</p>
        <p align="center">18</p></td>
    <td width="253" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
  </tr>
  <tr>
    <td width="64" valign="top"><p>&nbsp;</p>
        <p align="center">19</p></td>
    <td width="255" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
    <td width="66" valign="top"><p>&nbsp;</p>
        <p align="center">20</p></td>
    <td width="253" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
  </tr>
  <tr>
    <td width="64" valign="top"><p>&nbsp;</p>
        <p align="center">21</p></td>
    <td width="255" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
    <td width="66" valign="top"><p>&nbsp;</p>
        <p align="center">22</p></td>
    <td width="253" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
  </tr>
  <tr>
    <td width="64" valign="top"><p>&nbsp;</p>
        <p align="center">23</p></td>
    <td width="255" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
    <td width="66" valign="top"><p>&nbsp;</p>
        <p align="center">24</p></td>
    <td width="253" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
  </tr>
</table>
<p>&nbsp;</p>
<br>
<p>&nbsp;</p>
<table cellspacing="0" cellpadding="0">
  <tr>
    <td width="638" colspan="4" valign="top"><br>
        <p>&nbsp;</p>
        <p><strong>Attending Via Teleconference:</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p>
        <p>(Agency/Name) </p></td>
  </tr>
  <tr>
    <td width="64" valign="top"><p>&nbsp;</p>
        <p align="center">01</p></td>
    <td width="255" valign="top"><p>Wayne Anstey, CAO</p></td>
    <td width="66" valign="top"><p>&nbsp;</p>
        <p align="center">02</p></td>
    <td width="253" valign="top"><p>Duncan Kenndy, SH JEM</p></td>
  </tr>
  <tr>
    <td width="64" valign="top"><p>&nbsp;</p>
        <p align="center">03</p></td>
    <td width="255" valign="top"><p>Jeff McCurdy, MV JEM</p></td>
    <td width="66" valign="top"><p>&nbsp;</p>
        <p align="center">04</p></td>
    <td width="253" valign="top"><p>Len Milne , ES JEM</p></td>
  </tr>
  <tr>
    <td width="64" valign="top"><p>&nbsp;</p>
        <p align="center">05</p></td>
    <td width="255" valign="top"><p>Cathy Barrington, Council</p></td>
    <td width="66" valign="top"><p>&nbsp;</p>
        <p align="center">06</p></td>
    <td width="253" valign="top"><p>Ruth McCullugh, Council</p></td>
  </tr>
  <tr>
    <td width="64" valign="top"><p>&nbsp;</p>
        <p align="center">07</p></td>
    <td width="255" valign="top"><p>Jack McGaw, Information Radio</p></td>
    <td width="66" valign="top"><p>&nbsp;</p>
        <p align="center">08</p></td>
    <td width="253" valign="top"><p>Doug Hubley, TA JEM</p></td>
  </tr>
  <tr>
    <td width="64" valign="top"><p>&nbsp;</p>
        <p align="center">09</p></td>
    <td width="255" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p></td>
    <td width="66" valign="top"><p>&nbsp;</p>
        <p align="center">10</p></td>
    <td width="253" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p></td>
  </tr>
  <tr>
    <td width="64" valign="top"><p>&nbsp;</p>
        <p align="center">11</p></td>
    <td width="255" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p></td>
    <td width="66" valign="top"><p>&nbsp;</p>
        <p align="center">12</p></td>
    <td width="253" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p></td>
  </tr>
  <tr>
    <td width="64" valign="top"><p>&nbsp;</p>
        <p align="center">13</p></td>
    <td width="255" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p></td>
    <td width="66" valign="top"><p>&nbsp;</p>
        <p align="center">14</p></td>
    <td width="253" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p></td>
  </tr>
  <tr>
    <td width="64" valign="top"><p>&nbsp;</p>
        <p align="center">15</p></td>
    <td width="255" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p></td>
    <td width="66" valign="top"><p>&nbsp;</p>
        <p align="center">16</p></td>
    <td width="253" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p></td>
  </tr>
  <tr>
    <td width="64" valign="top"><p>&nbsp;</p>
        <p align="center">17</p></td>
    <td width="255" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p></td>
    <td width="66" valign="top"><p>&nbsp;</p>
        <p align="center">18</p></td>
    <td width="253" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p></td>
  </tr>
  <tr>
    <td width="64" valign="top"><p>&nbsp;</p>
        <p align="center">19</p></td>
    <td width="255" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p></td>
    <td width="66" valign="top"><p>&nbsp;</p>
        <p align="center">20</p></td>
    <td width="253" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p></td>
  </tr>
  <tr>
    <td width="64" valign="top"><p>&nbsp;</p>
        <p align="center">21</p></td>
    <td width="255" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p></td>
    <td width="66" valign="top"><p>&nbsp;</p>
        <p align="center">22</p></td>
    <td width="253" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p></td>
  </tr>
  <tr>
    <td width="64" valign="top"><p>&nbsp;</p>
        <p align="center">23</p></td>
    <td width="255" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p></td>
    <td width="66" valign="top"><p>&nbsp;</p>
        <p align="center">24</p></td>
    <td width="253" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p></td>
  </tr>
</table>
<p>&nbsp;</p>
<table cellspacing="0" cellpadding="0">
  <tr>
    <td width="187" valign="top"><p><strong>Critical Emerging Issues:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong></p>
        <p><strong>(New issues that need to be addressed immediately)</strong> </p></td>
    <td width="452" valign="top"><p>None </p></td>
  </tr>
</table>
<p>&nbsp;</p>
<table cellspacing="0" cellpadding="0">
  <tr>
    <td width="187" colspan="2" valign="top"><p><strong>Synopsis:</strong></p>
        <p><strong>(Given by Lead Agency or Operations Officer)</strong> </p></td>
    <td width="452" colspan="2" valign="top"><p>Bob Robichaud from Environment Canada advised that this is still a wind event for HRM. There should not be any surge issues. A rep will bring current weather conditions to each sit reps.&nbsp; </p></td>
  </tr>
  <tr>
    <td width="638" colspan="4" valign="top"><p><strong>Current Situation:</strong></p></td>
  </tr>
  <tr>
    <td width="64" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p></td>
    <td width="472" colspan="2" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p></td>
    <td width="102" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p></td>
  </tr>
  <tr>
    <td width="64" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p></td>
    <td width="472" colspan="2" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p></td>
    <td width="102" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p></td>
  </tr>
  <tr>
    <td width="64" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p></td>
    <td width="472" colspan="2" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p></td>
    <td width="102" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p></td>
  </tr>
  <tr>
    <td width="64" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p></td>
    <td width="472" colspan="2" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p></td>
    <td width="102" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p></td>
  </tr>
  <tr>
    <td width="64" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p></td>
    <td width="472" colspan="2" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p></td>
    <td width="102" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p></td>
  </tr>
  <tr>
    <td width="64" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p></td>
    <td width="472" colspan="2" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p></td>
    <td width="102" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p></td>
  </tr>
  <tr>
    <td width="64" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p></td>
    <td width="472" colspan="2" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p></td>
    <td width="102" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p></td>
  </tr>
  <tr>
    <td width="64" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p></td>
    <td width="472" colspan="2" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p></td>
    <td width="102" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p></td>
  </tr>
  <tr>
    <td width="64" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p></td>
    <td width="472" colspan="2" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p></td>
    <td width="102" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p></td>
  </tr>
  <tr>
    <td width="64" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p></td>
    <td width="472" colspan="2" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p></td>
    <td width="102" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p></td>
  </tr>
  <tr>
    <td width="64" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p></td>
    <td width="472" colspan="2" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p></td>
    <td width="102" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p></td>
  </tr>
  <tr>
    <td width="64" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p></td>
    <td width="472" colspan="2" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p></td>
    <td width="102" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p></td>
  </tr>
  <tr>
    <td width="64" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p></td>
    <td width="472" colspan="2" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p></td>
    <td width="102" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p></td>
  </tr>
</table>
<p>&nbsp;</p>
<p>&nbsp;</p>
<table cellspacing="0" cellpadding="0">
  <tr>
    <td width="638" colspan="2" valign="top"><p><strong>Round Table Discussion:</strong></p>
        <p><strong>Agency Reports</strong></p></td>
  </tr>
  <tr>
    <td width="187" valign="top"><p>Lloyd Currie</p></td>
    <td width="452" valign="top"><p>Fire Ops centre up and staffed. </p></td>
  </tr>
  <tr>
    <td width="187" valign="top"><p>Jim Perrin </p></td>
    <td width="452" valign="top"><p>They are well staffed. Ops centre not up yet. </p></td>
  </tr>
  <tr>
    <td width="187" valign="top"><p>Joanne Crampton </p></td>
    <td width="452" valign="top"><p>They are well staffed. Ops centre not up yet. </p></td>
  </tr>
  <tr>
    <td width="187" valign="top"><p>Andy Boutilier </p></td>
    <td width="452" valign="top"><p>Prov EOC up and running. </p></td>
  </tr>
  <tr>
    <td width="187" valign="top"><p>John Webber </p></td>
    <td width="452" valign="top"><p>They are at a full staffing complelement. The back up centre is ready to go. </p></td>
  </tr>
  <tr>
    <td width="187" valign="top"><p>Beate Shannon </p></td>
    <td width="452" valign="top"><p>&nbsp;Extra staff are in and ready to go as needed. </p></td>
  </tr>
  <tr>
    <td width="187" valign="top"><p>Doug Mosher </p></td>
    <td width="452" valign="top"><p>Currently things are status quo. They need contact number for bridge operations centre - Lori McKinnon will obtain. </p></td>
  </tr>
  <tr>
    <td width="187" valign="top"><p>Cyndi MacPhee </p></td>
    <td width="452" valign="top"><p>They have staff ready to respond. </p></td>
  </tr>
  <tr>
    <td width="187" valign="top"><p>John Aguinaga </p></td>
    <td width="452" valign="top"><p>Their EOC is up and operational. </p></td>
  </tr>
  <tr>
    <td width="187" valign="top"><p>Carl Yates </p></td>
    <td width="452" valign="top"><p>They have crews comining in at 8am. Water services staff are on standby. </p></td>
  </tr>
  <tr>
    <td width="187" valign="top"><p>Shaune MacKinley </p></td>
    <td width="452" valign="top"><p>They are reiterating cautionary measures messages. </p></td>
  </tr>
  <tr>
    <td width="187" valign="top"><p>Dominic Fewer </p></td>
    <td width="452" valign="top"><p>EMO NS is fully operational next door. They have resources staged through out the province. A representative will be here for each sit rep. </p></td>
  </tr>
  <tr>
    <td width="187" valign="top"><p>Barry Manuel </p></td>
    <td width="452" valign="top"><p>Informed that John Parkin is the Deputy Operations Officer. Please see him or Duty Officer Lori McKinnon if you require assistance. He also asked that people do system checks with their own agencies, issues to be reported to Lori McKinnon. Remember to use your incident logs and return them at the end of the event. </p></td>
  </tr>
  <tr>
    <td width="187" valign="top"><p>Imperial Oil </p></td>
    <td width="452" valign="top"><p>They have shut down operations as a precautionary measure. </p></td>
  </tr>
  <tr>
    <td width="187" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
    <td width="452" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
  </tr>
  <tr>
    <td width="187" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
    <td width="452" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
  </tr>
  <tr>
    <td width="187" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
    <td width="452" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
  </tr>
  <tr>
    <td width="187" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
    <td width="452" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
  </tr>
  <tr>
    <td width="187" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
    <td width="452" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
  </tr>
  <tr>
    <td width="187" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
    <td width="452" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
  </tr>
  <tr>
    <td width="187" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
    <td width="452" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
  </tr>
</table>
<p>&nbsp;</p>
<table cellspacing="0" cellpadding="0">
  <tr>
    <td width="638" colspan="3" valign="top"><p><strong>New Issues:</strong></p></td>
  </tr>
  <tr>
    <td width="64" valign="top"><p>1 </p></td>
    <td width="472" valign="top"><p>Incident action plans to be exchanged between HRM and EMO NS. </p></td>
    <td width="102" valign="top"><p>Barry Manuel and Dominc Fewer </p></td>
  </tr>
  <tr>
    <td width="64" valign="top"><p>2 </p></td>
    <td width="472" valign="top"><p>Road Watch </p></td>
    <td width="102" valign="top"><p>RCMP/HRP </p></td>
  </tr>
  <tr>
    <td width="64" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
    <td width="472" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
    <td width="102" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
  </tr>
  <tr>
    <td width="64" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
    <td width="472" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
    <td width="102" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
  </tr>
  <tr>
    <td width="64" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
    <td width="472" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
    <td width="102" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
  </tr>
  <tr>
    <td width="64" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
    <td width="472" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
    <td width="102" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
  </tr>
  <tr>
    <td width="64" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
    <td width="472" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
    <td width="102" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
  </tr>
  <tr>
    <td width="64" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
    <td width="472" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
    <td width="102" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
  </tr>
  <tr>
    <td width="64" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
    <td width="472" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
    <td width="102" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
  </tr>
  <tr>
    <td width="64" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
    <td width="472" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
    <td width="102" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
  </tr>
  <tr>
    <td width="64" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
    <td width="472" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
    <td width="102" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
  </tr>
  <tr>
    <td width="64" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
    <td width="472" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
    <td width="102" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
  </tr>
  <tr>
    <td width="64" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
    <td width="472" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
    <td width="102" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
  </tr>
</table>
<p>&nbsp;</p>
<table cellspacing="0" cellpadding="0">
  <tr>
    <td width="187" valign="top"><p><strong>Next Sit-Rep:</strong></p></td>
    <td width="452" valign="top"><p>10:00 hrs </p></td>
  </tr>
</table>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>Operation&rsquo;s Officer Approval:&nbsp; __________________________________</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</p>
								<p>&nbsp;
								
								</p>
